<div id="encabezado">
	<div class="fecha" style="display:inline-block; margin-top: 2px;">Valencia, {{ "now"|date("m/d/Y") }}</div>
	<!-- <div id="logo">
		<img src=" {#{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/app/img/logo_urumaco.png') }#}" alt="image" class="img-responsive">
	</div> -->
	<h2 style="margin-bottom: -15px; margin-top: 0px;">GRUPO URUMACO, C.A.</h2>
	<h6 style="margin-left: 200px;">J - 29413462 - 9</h6>
	<ul>
		<li id="under" style="color: red;">
			_____________________________________________________________________________________
		</li>
		<li id="under1" style="color: blue;">
			_____________________________________________________________________________________
		</li>
	</ul>
</div>