{% if marcas|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Nombre de Marca</th>
                <th> Acciones </th>
            </tr>
        </thead>
        <tbody>
            {% for marca in marcas %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ marca.nombre }}</td>
                    <td>
                        <a href="{{ path('marcas_edit', { 'id': marca.id }) }}" class="btn btn-primary"> Editar </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(marcas) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}