<div class="col-xs-12 table-responsive" style="max-height:300px; overflow-y: scroll; margin-bottom: 50px;">
	<h2 class="text-center" style="position:relative" > Detalle Nota de Entrega</h2>
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th>#</th>
				<th>Cantidad</th>
				<th>Unidad</th>
				<th>Descripción</th>
				<th>Observaciones</th>
				<th>Eliminar</th>
			</tr>
		</thead>
		<tbody>
			{% for detalle in registros %}
				<tr id="rowDetalleNota_{{detalle.id}}">
					<td style="width: 5%;"> {{ loop.index }} </td>
					<td style="width: 10%;"> 
						<div class="input-group margin col-xs-10">
              <input class="form-control numeros" type="integer" value={{detalle.cantidad}} id="detalleCantValor_{{detalle.id}}">
               <span class="input-group-btn">
                <a class="btn btn-info btn-flat" id="detalleCant_{{detalle.id}}">
                	<i class="fa fa-check"></i>
                </a>
              </span>
            </div>
					</td>
					<td style="width: 10%;"> {{ detalle.unidad }} </td>
					<td style="width: 55%;"> {{ detalle.descripcion }} </td>
					<td style="width: 15%;"> 
						<div class="input-group margin col-xs-10">
              <input class="form-control" type="text" value="{{detalle.observacion}}" id="detalleObservValor_{{detalle.id}}">
                <span class="input-group-btn">
                <a class="btn btn-info btn-flat" id="detalleObserv_{{detalle.id}}">
                	<i class="fa fa-check"></i>
                </a>
              </span>
            </div>
					</td>
					<td style="width:5%;"> <a href="#" class="btn btn-danger" id="deleteNotaDetalle_{{detalle.id}}"> Eliminar </a></td>
				</tr>			    
			{% endfor %}
			<tr></tr>
			<tr></tr>
		</tbody>
	</table>
</div>
