{% if notaEntregas|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th>Proyecto</th>
                <th>Contacto Urumaco</th>
                <th>Contacto Empresa</th>
                <th>Cod Guia</th>
                <th>Cod control</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for notaEntrega in notaEntregas %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ notaEntrega.proyecto }}</td>
                    <td>{{ notaEntrega.contactoUrumaco }}</td>
                    <td>{{ notaEntrega.contactoEmpresa }}</td>
                    <td>{{ notaEntrega.codGuia }}</td>
                    <td>{{ notaEntrega.codControl }}</td>
                    <td>
                        <a href="{{ path('notaentrega_edit', { 'id': notaEntrega.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(notaEntregas) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}