{{ form_start(form, {'attr': {'role': 'form'}}) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}
	<div class="form-group col-md-9">
    {{ form_label(form.materiales, 'Seleccionar Material:') }}
    {{ form_errors(form.materiales) }}
    {{ form_widget(form.materiales, { 'attr': {'class': 'form-control select2', 'style': 'height:200px;'} }) }}
  </div>
  <div class="col-md-3 pull-right">
    <a id="add_detailNota" class="btn btn-info col-md-12"> Agregar </a>
    <button type="button" data-dismiss="modal" class="btn btn-danger col-md-12"> Cancelar </button>
  </div>
{{ form_end(form, {'render_rest': false}) }}
