<div class="box-body">
	{% if app.session.flashBag.has('success') %}
		<div class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4>
			    {% for msg in app.session.flashBag.get('success') %}
			        {{ msg }}
			    {% endfor %}
			</h4>
		</div>
	{% endif %}
	<style type="text/css">
			.form-control.select2-container{
				height: 34px !important;
			}
	</style>
  <div class="form-group col-md-6">
    {{ form_label(form.proyecto, 'Proyecto: ') }}
    {{ form_widget(form.proyecto, { 'attr': {'class': 'form-control select2', 'style' : "height:34px !important;"} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.fechaEmision, 'Fecha de Emisión: ') }}
    {{ form_widget(form.fechaEmision, { 'attr': {'class': 'form-control dateTimePicker'} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.fechaPlanta, 'Fecha Salida de Planta: ') }}
    {{ form_widget(form.fechaPlanta, { 'attr': {'class': 'form-control dateTimePicker'} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.contactoUrumaco, 'Persona Urumaco: ') }}
    {{ form_widget(form.contactoUrumaco, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.tlfUrumaco, 'Tlf. Persona Urumaco: ') }}
    {{ form_widget(form.tlfUrumaco, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.contactoEmpresa, 'Persona Empresa: ') }}
    {{ form_widget(form.contactoEmpresa, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.tlfEmpresa, 'Tlf. Persona Empresa: ') }}
    {{ form_widget(form.tlfEmpresa, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.codGuia, 'Código de Guia: ') }}
    {{ form_widget(form.codGuia, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.codControl, 'Código de Control: ') }}
    {{ form_widget(form.codControl, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group col-md-6">
    {{ form_label(form.comentario, 'Observaciones: ') }}
    {{ form_widget(form.comentario, { 'attr': {'class': 'form-control'} }) }}
  </div>
</div>

{% if form.vars.value.id != "" %}
  {{ render(controller("AppBundle:NotaEntrega:detalleNotaTable",{'nota':form.vars.value.id} )) }}
{% endif %}

<div class="col-xs-12"></div>
<div class="box-footer" style="margin-top:10px;">
  <a href="{{ path('notaentrega') }}" class="btn btn-default">Volver a la lista</a>
  <a href="{{ path('notaentrega_new') }}" class="btn btn-success">Crear Nueva</a>

   {% if form.vars.value.id != "" %}
    <div style="left: 25%; position:relative; display: inline-block">
      <a data-toggle="modal" data-target="#nuevo" id="detalleNota_{{form.vars.value.proyecto.id}}"class="btn btn-primary" >Agregar Items</a>
      <a data-toggle="modal" data-target="#nuevo" id="detalleNotaLibre_{{form.vars.value.proyecto.id}}"class="btn btn-primary" >Item Libre</a>
      <a href="{{ path('reporte_notaentrega', {'proyecto':entity.proyecto.id, 'nota': entity.id}) }}" target="_blank" class="btn btn-warning"> Imprimir</a>
    </div>
  {% endif %}
  <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>

{% if form.vars.value.id != "" %}
  <div id="nuevo" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div id="form_nuevo" class="modal-body" style="height:270px">
        </div>                     
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

  <script>
    $(document).ready(function(){
      $(".dateTimePicker").datetimepicker({
          format: 'DD/MM/YYYY',
          locale: 'es'
      });
      
      $(document).on("click", "a[id^='detalleNota_']", function (event) {
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");
       
        $.ajax({
            method: "GET",
            url: Routing.generate('detalleNotaForm'),
            dataType: "json",
        })
        .done(function(data ) {
            $("#form_nuevo").empty();
            $("#form_nuevo").html(data.content);
        });
      });

      $(document).on("click", "a[id^='detalleNotaLibre_']", function (event) {
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");
       
        $.ajax({
            method: "GET",
            url: Routing.generate('detalleNotaFormLibre'),
            dataType: "json",
        })
        .done(function(data ) {
            $("#form_nuevo").empty();
            $("#form_nuevo").html(data.content);
        });
      });
      
      $(document).on("click", "#add_detailNota", function (event) {
        event.preventDefault();
        var materiales = $("#form_materiales").val().toString();
        if (materiales == "")  return false;

        materiales = findAndReplace(materiales,',','-');
         
        $.ajax({
          method: "GET",
          url: Routing.generate('createDetalleNota', { nota: {{form.vars.value.id}}, materiales: materiales }),
          dataType: "json",
        })
        .done(function(data ) {
          location.reload();
        });
      });

      $(document).on("click", "#add_detailNotaLibre", function (event) {
        event.preventDefault();
        var cantidad    = $("#form_cantidad").val();
        var unidades    = $("#form_unidades").val().toString();
        var descripcion = $("#form_descripcion").val();
        var observacion = $("#form_obser").val();

        if (observacion == ""){
          observacion = "nn";
        }
         
        if(cantidad == "" || unidades== "" || descripcion == ""){
          alert("Disculpe, no se aceptan campos vacios");
        }else{
          $.ajax({
            method: "POST",
            url: Routing.generate('createDetalleNotaLibre', { nota: {{form.vars.value.id}}, cantidad: cantidad, unidades: unidades, descrip: descripcion, obser: observacion }),
            dataType: "json",
          })
          .done(function(data ) {
            location.reload();
          });
        }
      });

      function findAndReplace(string, target, replacement) {
        var i = 0, length = string.length;
        for (i; i < length; i++) {
          string = string.replace(target, replacement);
        }
        return string;             
      }

      $(document).on("click", "a[id^='deleteNotaDetalle_']", function (event) {
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");

        $.ajax({
            method: "GET",
            url: Routing.generate('deleteNotaDetalle', { id: id[1], }),
            dataType: "json",
        })
        .done(function(data ) {
          $("#rowDetalleNota_"+id[1]).remove();
        });          
      });

      $(document).on("click", "a[id^='detalleCant_']", function (event) {
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");

        $.ajax({
            method: "GET",
            url: Routing.generate('updateCantDetalle', { id: id[1], cantidad: parseInt($("#detalleCantValor_"+id[1]).val()) }),
            dataType: "json",
        })
        .done(function(data ) {
          $("#"+identificador).removeClass('btn-info');
          $("#"+identificador).addClass('btn-success'); 
        });          
      });

      $(document).on("click", "a[id^='detalleObserv_']", function (event) {
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");

        $.ajax({
            method: "GET",
            url: Routing.generate('updateObservDetalle', { id: id[1], observ: $("#detalleObservValor_"+id[1]).val() }),
            dataType: "json",
        })
        .done(function(data ) {
          $("#"+identificador).removeClass('btn-info');
          $("#"+identificador).addClass('btn-success'); 
        });          
      });

      $(document).on('keypress', '.numeros', function(e){
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
        return true;

        return /\d/.test(String.fromCharCode(keynum));
      })
    });
  </script>
{% else %}
  <script>
    $(document).ready(function(){
      $(".dateTimePicker").datetimepicker({
          format: 'DD/MM/YYYY',
          locale: 'es'
      });
    });
  </script>
{% endif %}