{{ form_start(form, {'attr': {'role': 'form'}}) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}
	<div class="form-group col-xs-6">
    {{ form_label(form.cantidad, 'Cantidad:') }}
    {{ form_errors(form.cantidad) }}
    {{ form_widget(form.cantidad, { 'attr': {'class': 'form-control numeros'} }) }}
  </div>

	<div class="form-group col-xs-6">
    {{ form_label(form.unidades, 'Seleccionar Unidad:') }}
    {{ form_errors(form.unidades) }}
    {{ form_widget(form.unidades, { 'attr': {'class': 'form-control select2'} }) }}
  </div>

	<div class="form-group col-xs-6">
    {{ form_label(form.descripcion, 'Descripción:') }}
    {{ form_errors(form.descripcion) }}
    {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
  </div>

	<div class="form-group col-xs-6">
    {{ form_label(form.obser, 'Observaciones:') }}
    {{ form_errors(form.obser) }}
    {{ form_widget(form.obser, { 'attr': {'class': 'form-control'} }) }}
  </div>  

  <div class="col-md-12 pull-right">
    <a id="add_detailNotaLibre" class="btn btn-info pull-right"> Agregar </a>
    <button type="button" data-dismiss="modal" class="btn btn-danger pull-left"> Cancelar </button>
  </div>
{{ form_end(form, {'render_rest': false}) }}
