{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NotaEntrega</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Proyecto</th>
                <td>{{ entity.proyecto }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ entity.comentario }}</td>
            </tr>
            <tr>
                <th>Fechaemision</th>
                <td>{{ entity.fechaEmision|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaplanta</th>
                <td>{{ entity.fechaPlanta|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Contactourumaco</th>
                <td>{{ entity.contactoUrumaco }}</td>
            </tr>
            <tr>
                <th>Contactoempresa</th>
                <td>{{ entity.contactoEmpresa }}</td>
            </tr>
            <tr>
                <th>Tlfurumaco</th>
                <td>{{ entity.tlfUrumaco }}</td>
            </tr>
            <tr>
                <th>Tlfempresa</th>
                <td>{{ entity.tlfEmpresa }}</td>
            </tr>
            <tr>
                <th>Codguia</th>
                <td>{{ entity.codGuia }}</td>
            </tr>
            <tr>
                <th>Codcontrol</th>
                <td>{{ entity.codControl }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('notaentrega') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('notaentrega_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
