{% if statusproyecto|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Nombre </th>
                <th> Descripción </th>
                <th> Color</th>
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statusproyecto %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ status.name }}</td>
                    <td>{{ status.description }}</td>
                    <td>  <span style="background: #{{status.color}};" class="label">{{ status.color }}</span></td>
                    <td>
                        <a href="{{ path('statusproyecto_edit', { 'id': status.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(statusproyecto) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}