<div class="box-body">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </h4>
        </div>
    {% endif %}
    <div class="form-group col-md-6">
        {{ form_label(form.name, 'Nombre del Estatus: ') }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
      {{ form_label(form.color, 'Color: ') }}
      {{ form_widget(form.color, { 'attr': {'class': "form-control jscolor {width:243, height:150, position:'right',
        borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}", "readonly":"readonly"} }) }}
    </div>
    <div class="form-group col-md-12">
        {{ form_label(form.description, 'Descripción del Estatus: ') }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="box-footer">
    <a href="{{ path('statusproyecto') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('statusproyecto_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>   