{% extends 'ApplicationSonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_head_title %}
    {{parent()}}
    {% block pageTitle %}

    {% endblock pageTitle %}
{% endblock sonata_head_title %}    


 {% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('bundles/app/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css')}}">
{% endblock stylesheets %} 


{% block javascripts %}
    {{parent()}}
    <script src="{{asset('bundles/app/bootstrap-datetimepicker/js/moment-with-locales.js')}}"></script>
    <script src="{{asset('bundles/app/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock javascripts %} 
