<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table class="table table-striped">
	<thead>
		<tr>
		{# sorting of properties based on query components #}
		    <th>{{ knp_pagination_sortable(pagination, '#', 'a.id') }}</th>
		    <th{% if pagination.isSorted('a.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombre', 'a.nombre') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for article in pagination %}
			<tr {% if loop.index is odd %}class="color"{% endif %}>
			    <td>{{ article.id }}</td>
			    <td>{{ article.nombre }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

