 {% if materiales|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> #              </th>
                <th> Código         </th>
                <th> Fecha Act.</th>
                <th> Nombre         </th>
                <th> Categoria      </th>
                <th> Unidad         </th>
                <th> Stock          </th>
                <th> Precio Venta       </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
          {% for material in materiales %}
            <tr {% if loop.index is odd %}class="color"{% endif %} id='rowDelete_{{material.id}}'>
              <td>{{ loop.index }}</td>
              <td>{{ 'Mat-'~ material.id }}</td>
              <td> {{ material.updated | date('Y-m-d')  }} </td>
              <td> {{material.nombre}}  </td>
              <td>{{ material.categoria }}</td>
              <td>{{ material.unidad }}</td>
              <td>{{ material.stock }}</td>
              <td> <strong> {{ 'Bs. '~ material.precioVenta |number_format(2, ',','.') }} </strong></td>
              <td>
                <a href="{{ path('materiales_edit', { 'id': material.id }) }}" class="btn btn-primary">Editar</a>
                <a href="#" id="materialDelete_{{material.id}}" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(materiales) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}