<div class="box-body">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </h4>
        </div>
    {% endif %}
    <div class="form-group col-md-6">
        {{ form_label(form.codigo, 'Código:') }} <br>
        {% if entity.id!="" %}
            <label for="">Mat-{{entity.id}}</label>
        {% else %}
            <label for="">Mat-</label>
        {% endif %}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.nombre, 'Nombre:') }}
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.descripcion, 'Descripcion') }}
        {{ form_errors(form.descripcion) }}
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.stock, 'Existencia:') }}
        {{ form_errors(form.stock) }}
        {{ form_widget(form.stock, { 'attr': {'class': 'form-control decimal'} }) }}
    </div>
    <div class="form-group col-md-6 hidden ">
        {{ form_label(form.disponibilidad) }} <br>
        {{ form_errors(form.disponibilidad) }}
        {{ form_widget(form.disponibilidad, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.categoria, 'Categoria:') }}
        {{ form_errors(form.categoria) }}
        {{ form_widget(form.categoria, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.unidad, 'Unidad:') }}
        {{ form_errors(form.unidad) }}
        {{ form_widget(form.unidad, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.proveedor1, 'Proveedor 1:') }}
        {{ form_errors(form.proveedor1) }}
        {{ form_widget(form.proveedor1, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.precio1, 'Precio Compra 1:') }}
        {{ form_errors(form.precio1) }}
        {{ form_widget(form.precio1, { 'attr': {'class': 'form-control decimal'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.proveedor2, 'Proveedor 2:') }}
        {{ form_errors(form.proveedor2) }}
        {{ form_widget(form.proveedor2, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.precio2, 'Precio Compra 2:') }}
        {{ form_errors(form.precio2) }}
        {{ form_widget(form.precio2, { 'attr': {'class': 'form-control decimal'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.proveedor3, 'Proveedor 3:') }}
        {{ form_errors(form.proveedor3) }}
        {{ form_widget(form.proveedor3, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.precio3, 'Precio Compra 3:') }}
        {{ form_errors(form.precio3) }}
        {{ form_widget(form.precio3, { 'attr': {'class': 'form-control decimal'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.precioVenta, 'Precio de Venta:') }}
        {{ form_errors(form.precioVenta) }}
        {{ form_widget(form.precioVenta, { 'attr': {'class': 'form-control decimal'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.almacen, 'Almacen:') }}
        {{ form_errors(form.almacen) }}
        {{ form_widget(form.almacen, { 'attr': {'class': 'form-control'} }) }}
        <br><br>
    </div>
</div>
<div class="box-footer">
    <a href="{{ path('materiales') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('materiales_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>   


<script>
     $(document).ready(function(){

        $(".dateTimePicker").datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es'
        });

        $(".decimal").keydown(function(e){
            var keynum           
            var keychar           
            var numcheck          
            

            if(window.event){
            /*/ IE*/            
                keynum = e.keyCode         
            }          
            else if(e.which){ 
            /*/ Netscape/Firefox/Opera/*/          
                keynum = e.which         
            }            
            
            if((keynum>=35 && keynum<=37) ||keynum==8||keynum==9||keynum==46||keynum==39) {
                     return true;         
            }          
            
            if(keynum==190||keynum==110||(keynum>=95&&keynum<=105)||(keynum>=48&&keynum<=57)){
                posicion = this.value.indexOf('.');               
                
                if(posicion==-1) {              
                    return true;           
                }else { 
                    if(!(keynum==190||keynum==110)){
                        var posicion = this.value.indexOf('.');
                        var decimal = 3;

                        if(this.value.length - posicion < decimal){
                            this.value = this.value.substr(0,this.value.length);  
                        }else {
                            this.value = this.value.substr(0,posicion+decimal-1);  
                        }

                        return true;
                    }else{
                        return false;
                    }
                }
            }else {
                return false;
            } 
        });   
    });
</script>