{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}
{# {% extends 'ApplicationSonataAdminBundle::standard_layout.html.twig' %} #}

{% block pageTitle %} Materiales {% endblock %}

{% block sonata_page_content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="col-xs-12">Listado de Materiales</h3>
                        <div class="col-md-10">
                            {% include '@App/Comun/formBusquedaStandar.html.twig' %}
                        </div>
                        <div class="col-md-2">
                            <a  href="{{ path('materiales_new') }}" class="btn btn-primary" style="float:right;">
                            <i class="fa fa-plus"></i> Nuevo Material
                            </a>
                        </div>
                    </div>
                    <div class="box-body table-responsive" id="listado_materiales">
                       
                    </div>

                    <!-- Loading (remove the following to stop the loading)-->
                    <div id="opaco_div" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- end loading -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script id="KnpPaginatorScript" type="text/javascript" src="{{ asset('bundles/app/libs/KnpPaginatorAjax.js')}}" DataLoaderFunctionName="CargarListadoMateriales" searchFields="materiales.descripcion, materiales.nombre"></script>
    <script type="text/javascript" src=" {{ asset('bundles/app/libs/Listado_almacen.js')}} "></script>

    <script>
        $(document).ready(function(){
          $(document).on("click", "a[id^='materialDelete_']", function (event) {
            event.preventDefault();
            var r = confirm("¿Desea Eliminar este Material?");
            if (r == false) return false; 
            var identificador = $(this).attr("id");
            var id = identificador.split("_");                
            $.ajax({
              method: "GET",
              url: Routing.generate('materialdelete', { id: id[1]}),
              dataType: "json",
            })
            .done(function(data ) {
              $("#rowDelete_"+id[1]).remove();
            });
          });
        });
    </script>
{% endblock %}
   