<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table class="table table-striped">
	<thead>
		<tr>
		{# sorting of properties based on query components #}
		    <th>{{ knp_pagination_sortable(pagination, '#', 'a.id') }}</th>
		    <th{% if pagination.isSorted('a.codigo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Codigo', 'a.codigo') }}</th>
		    <th{% if pagination.isSorted('a.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombre', 'a.nombre') }}</th>
			<th{% if pagination.isSorted('a.descripcion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Descripcion', 'a.descripcion') }}</th>
			<th{% if pagination.isSorted('a.categoria') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Categoria', 'a.categoria') }}</th>
			<th{% if pagination.isSorted('a.almacen') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Almacen', 'a.almacen') }}</th>
			<th{% if pagination.isSorted('a.unidad') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Unidad', 'a.unidad') }}</th>		
			<th{% if pagination.isSorted('a.stock') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Stock', 'a.stock') }}</th>
			<th{% if pagination.isSorted('a.disponibilidad') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Disponibilidad', 'a.disponibilidad') }}</th>
			<th{% if pagination.isSorted('a.proveedor1') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Proveedor 1', 'a.proveedor1') }}</th>
			<th{% if pagination.isSorted('a.precio1') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Precio 1', 'a.precio1') }}</th>
			<th{% if pagination.isSorted('a.proveedor2') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Proveedor 2', 'a.proveedor2') }}</th>
			<th{% if pagination.isSorted('a.precio2') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Precio 2', 'a.precio2') }}</th>
			<th{% if pagination.isSorted('a.proveedor3') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Proveedor 3', 'a.proveedor3') }}</th>
			<th{% if pagination.isSorted('a.precio3') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Precio 3', 'a.precio3') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for article in pagination %}
			<tr {% if loop.index is odd %}class="color"{% endif %}>
			    <td>{{ article.id }}</td>
			    <td>{{ article.codigo }}</td>
			    <td>{{ article.nombre }}</td>
			    <td>{{ article.descripcion }}</td>
			    <td>{{ article.categoria }}</td>
			    <td>{{ article.almacen }}</td>
			    <td>{{ article.unidad }}</td>
			    <td>{{ article.stock }}</td>
			    <td>{{ article.proveedor1 }}</td>
			    <td>{{ article.precio1 }}</td>
			    <td>{{ article.proveedor2 }}</td>
			    <td>{{ article.precio2 }}</td>
			    <td>{{ article.proveedor3 }}</td>
			    <td>{{ article.precio3 }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

