<div class="row" id="contentDetalleApu" style="display:none;">
    <div id="detalleApu" class="col-xs-12">
        
    </div>
</div>
<br/>

<fieldset class="well">
    <div class="row" style="max-height: 410px; overflow-y: scroll;">
        <div class="col-xs-12 content">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-th"></i> Detalles del Item</li>
                    <li class=""><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">Mano de Obra</a></li>
                    <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">Maquinarias</a></li>
                    <li class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="true">Materiales</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab_1-1">
                        <div class="row">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th> 
                                        <th>Descripción</th>
                                        <th>Ubicación </th>
                                        <th>Cantidad</th>
                                        <th>Días</th>
                                        <th>Costo Unit.</th>
                                        <th>Total</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody class="text-left" id="table_manoObra">
                                    {{ render(controller("AppBundle:ProyectoApu:calculoDetalleApu",{'id_apu':id_apu, 'accion':1, 'proyecto_id':1}))}}
                                </tbody>
                            </table>                                  
                        </div>

                        <div class="modal-footer">
                            <a id="add_manoObra" class="btn btn-info"> Agregar </a>
                            <a id="del_manoObra" data-dismiss="modal" class="btn btn-danger"> Cancelar </a>
                        </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="tab_2-2">
                        <div class="row">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th> 
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Días</th>
                                        <th>Costo Unit.</th>
                                        <th>Total</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody class="text-left" id="table_maquinaria">
                                    {{ render(controller("AppBundle:ProyectoApu:calculoDetalleApu",{'id_apu':id_apu, 'accion':2, 'proyecto_id':1}))}}
                                </tbody>
                            </table>                                  
                        </div>
                        
                        <div class="modal-footer">
                            <a id="add_maquinaria" class="btn btn-info"> Agregar </a>
                            <a id="del_maquinaria" data-dismiss="modal" class="btn btn-danger"> Cancelar </a>
                        </div>                         
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane active" id="tab_3-2">
                        <div class="row">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th> 
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Costo Unit.</th>
                                        <th>Total</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody class="text-left" id="table_materiales">
                                    {{ render(controller("AppBundle:ProyectoApu:calculoDetalleApu",{'id_apu':id_apu, 'accion':3, 'proyecto_id':1}))}}
                                </tbody>
                            </table>                                  
                        </div>

                        <div class="modal-footer">
                            <a id="add_materiales" class="btn btn-info"> Agregar </a>
                            <a id="del_materiales" data-dismiss="modal" class="btn btn-danger"> Cancelar </a>
                        </div>                         
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
        </div>
    </div>   
</fieldset>


<div class="col-md-12 well" style="display:none">
    <h4><i class="icon fa fa-money"></i> Balance </h4>
    <small class="col-xs-12"> 
        <div class="form-group col-md-3 col-xs-6">
            <label>% Prestaciones: </label> {{proyecto.prestaciones |number_format(2, ',','.')}}
        </div>
        <div class="form-group col-md-3 col-xs-6">
            <label>% Gasto Administrativo: </label> {{proyecto.gastoAdmin |number_format(2, ',','.') }}
        </div>
        <div class="form-group col-md-3 col-xs-6">
            <label>% Utilidad: </label> {{proyecto.utilidad |number_format(2, ',','.')}}
        </div>
        <div class="form-group col-md-3 col-xs-6">
            <label>Comida: </label> {{proyecto.comida |number_format(2, ',','.')}}
        </div>
    </small>
        {# Inicializo variables #}
    {% set comida = 0 %}
    {% set man    = 0 %}
    {% set maq    = 0 %}
    {% set mat    = 0 %}
    {% set total  = 0 %}

    <div class="col-md-4 col-xs-6">
        <strong>Materiales: </strong>  Bs.
        {% for sum in suma %}                   
            {% if sum['tipoActividad'] == 3 %}
                {% set mat = sum['costo'] %}
                {{mat |number_format(2, ',','.') }} <br>
            {% endif %}
        {% endfor %}                
    </div>
    <div class="col-md-4 col-xs-6">
        <strong>Maquinarias:  </strong>Bs. 
        {% for sum in suma %}                   
            {% if sum['tipoActividad'] == 2 %}
                {% set maq = sum['costo'] %}
                 {{ maq |number_format(2, ',','.') }} <br>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-4 col-xs-6">
        <strong>Mano de Obra: </strong>Bs.
        {% for sum in suma %}                   
            {% if sum['tipoActividad'] == 1 %}
                {% set man = sum['costo'] %}
                {% set comida = sum['comida']  %}
                {{ man |number_format(2, ',','.') }} <br>
            {% endif %}
        {% endfor %}
    </div>
    
    {#*************************************** Calculos********************************************************#}
    {% set comida       = (comida * proyecto.comida) %}
    {% set prestaciones = ( (man * proyecto.prestaciones) / 100) %}
    {% set mdo_prest    = man + prestaciones %}
    {% set total        = comida + mdo_prest + maq + mat %}
    {% set gast         = ( proyecto.gastoAdmin * total) / 100 %}
    {% set subtotal     = gast  + total %}
    {% set utilidades   =  (proyecto.utilidad * total) / 100 %}
      
    <div class="col-md-4 col-xs-6">
        <strong>Prestaciones:</strong>               Bs. {{ prestaciones |number_format(2, ',','.')}}
    </div>
    <div class="col-md-4 col-xs-6">
        <strong>MaObra + Prest :</strong>  Bs. {{ mdo_prest |number_format(2, ',','.') }}
    </div> 
    <div class="col-md-4 col-xs-6">
        <strong>Comidas: </strong>                   Bs. {{ comida |number_format(2, ',','.') }}
    </div>
    <div class="col-md-4 col-xs-6">
        <strong>Costos Directos:</strong>            Bs. {{ total |number_format(2, ',','.')}}
    </div>
    <div class="col-md-4 col-xs-6">
        <strong>Gastos Adm.:</strong>                Bs. {{ gast |number_format(2, ',','.')}}
    </div>
    <div class="col-md-4 col-xs-6">
        <strong>Subtotal:</strong>                   Bs. {{ subtotal |number_format(2, ',','.')}}
    </div>
    <div class="col-md-4 col-xs-6">
        <strong>Utilidades:</strong>                 Bs. {{ utilidades |number_format(2, ',','.') }} 
    </div>
    <div class="col-md-12">
        <h4 class="text-right">
            *<strong>Precio Total:</strong> <br>      Bs. {{ (utilidades + subtotal)  |number_format(2, ',','.')}}
        </h4>
    </div>
    <div class="col-xs-12">
        <small> <strong>*Nota: </strong> El precio total es por el coste individual del Item. El monto TOTAL GLOBAL es: <strong>Precio Total</strong> X  <strong>Cantidad del Item</strong> <br>
<br>
            <strong>Cantidad de Item:</strong> {{entity.cantApu}} <br>
            <strong>Precio Total:</strong> Bs. {{ (utilidades + subtotal)  |number_format(2, ',','.')}} <br>
            <strong>Total Global:</strong> Bs. {{ (entity.cantApu * (utilidades + subtotal))  |number_format(2, ',','.')}}
        </small>
    </div>
</div>