{{ form_start(form, {'attr': {'role': 'form'}}) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}

<style>
	.hidden{
		display: none;
	}
</style>

	<fieldset class="col-xs-12 well">
		{% if opt == 1 %}
			<div class="form-group col-md-9">
		        {{ form_label(form.maquinaria, 'Seleccionar Maquinaria: (Presione Ctrl para multi-selección)') }}
		        {{ form_errors(form.maquinaria) }}
		        {{ form_widget(form.maquinaria, { 'attr': {'class': 'form-control select', 'style': 'height:145px;'} }) }}
		    </div>

		    <div class="form-group col-md-3 hidden">
		        {{ form_label(form.costoMaquinaria, 'Seleccionar Maquinaria:') }}
		        {{ form_errors(form.costoMaquinaria) }}
		        {{ form_widget(form.costoMaquinaria, { 'attr': {'class': 'form-control select', 'style': 'height:145px;'} }) }}
		    </div>
		{% endif %}

		{% if opt == 2 %}
		    <div class="form-group col-md-9">
		        {{ form_label(form.manoObra, 'Seleccionar Mano de Obra: (Presione Ctrl para multi-selección)') }}
		        {{ form_errors(form.manoObra) }}
		        {{ form_widget(form.manoObra, { 'attr': {'class': 'form-control select', 'style': 'height:145px;'} }) }}
		    </div>

		    <div class="form-group col-md-3 hidden">
		        {{ form_label(form.costoManoObra, 'Seleccionar Mano de Obra:') }}
		        {{ form_errors(form.costoManoObra) }}
		        {{ form_widget(form.costoManoObra, { 'attr': {'class': 'form-control select', 'style': 'height:145px;'} }) }}
		    </div>
		{% endif %}
	    <div class="form-group col-md-3 hidden">
	        {{ form_label(form.dia, 'Cant Días:') }}
	        {{ form_errors(form.dia) }}
	        {{ form_widget(form.dia, { 'attr': {'class': 'form-control decimal','value':1} }) }}
	    </div>


		{% if opt == 3 %}
			<div class="form-group col-md-9">
		        {{ form_label(form.materiales, 'Seleccionar Material:') }}
		        {{ form_errors(form.materiales) }}
		        {{ form_widget(form.materiales, { 'attr': {'class': 'form-control select', 'style': 'height:145px;'} }) }}
		    </div>
		    <div class="form-group col-md-3 hidden">
		        {{ form_label(form.costoMateriales, 'Seleccionar Material:') }}
		        {{ form_errors(form.costoMateriales) }}
		        {{ form_widget(form.costoMateriales, { 'attr': {'class': 'form-control select', 'style': 'height:145px;'} }) }}
		    </div>
	    
		{% endif %}

	    <div class="col-md-3 pull-right">
	        <a id="add_detailApu" class="btn btn-info col-md-12"> Agregar </a>
	        <br>
	        <br>
	        <button type="button" data-dismiss="modal" class="btn btn-danger col-md-12"> Cancelar </button>
	    </div>
	</fieldset>

{{ form_end(form, {'render_rest': false}) }}
