{% if plantillas|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for plantilla in plantillas %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ plantilla.nombre }}</td>
                    <td>
                        <a href="{{ path('plantilla_edit', { 'id': plantilla.id }) }}" class="btn btn-primary">Editar</a>
                        <a href="{{ path('plantillaPDF', { 'plantilla_id': plantilla.id }) }}" class="btn btn-success" target="blank">Ver Plantilla</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(plantillas) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}