{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}

{# {% extends 'ApplicationSonataAdminBundle::standard_layout.html.twig' %} #}

{% block pageTitle %} Listado de Items del Proyecto {% endblock %}

{% block sonata_page_content %}
    <section class="content">
        <div class="row">
            <h2 class="text-center"> Listado de Items </h2>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="col-xs-12"> <b>RQ: </b> {{proyecto.rq}} </h3>
                        <h3 class="col-xs-12"> <b> Nombre del Proyecto: </b> {{proyecto.descripcion}}  </h3>
                        <div class="col-md-12">
                            <a href="{{ path('proyectos_edit', { 'id': proyecto.id }) }}" class="btn btn-warning" >
                                <i class="fa fa-mail-reply"></i> Volver
                            </a>
                            <a id="btn_new" class="btn btn-primary" data-toggle="modal" data-target="#nuevo">
                                <i class="fa fa-plus"></i> Nuevo Item   
                            </a>
                            <div class="btn-group">
                              <button type="button" class="btn btn-info">Imprmir Listado</button>
                              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('reporte_proyectomateriales', {'proyecto_id':proyecto.id}) }}" target="_blank">Materiales</a>
                                </li>
                                <li>
                                  <a href="{{ path('reporte_proyectomanoobras', {'proyecto_id':proyecto.id}) }}" target="_blank"> Mano Obra </a>
                                </li>
                                <li>
                                    <a href="{{ path('reporte_proyectomaquinarias', {'proyecto_id':proyecto.id}) }}" target="_blank"> Maquinarias</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('reporte_proyectoallapu', {'proyecto_id':proyecto.id}) }}" target="_blank"> Imprimir Todo</a>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    {% if apus|length > 0 %}
                        <div class="col-xs-12 table-responsive">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                    {# sorting of properties based on query components #}
                                        <th>#</th>
                                        <th>Estatus</th>
                                        <th>Miscelaneo</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Mano Obra</th>
                                        <th>Maquinaria</th>
                                        <th>Materiales</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for apu in apus %}
                                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                                            <td>{{ loop.index }}</td>
                                            <td> 
                                                {% if apu.status == 1 %}
                                                    CULMINADO
                                                {% else %}
                                                    EN EJECUCION
                                                {% endif %}
                                            </td>
                                            <td>{{ apu.miscelaneo }}</td>
                                            <td>{{ apu.nombre |length >25 ? apu.nombre |slice(0, 25) ~ '...' : apu.nombre  }} </td>
                                            <td>{{ apu.cantApu }}</td>
                                            {{ render(controller("AppBundle:ProyectoApu:calculoDetalleApu",{'id_apu':apu.id, 'accion':'calculos','proyecto_id':1}))}}
                                            <td>
                                              <a data-toggle="modal" data-target="#nuevo" id="proyectoapu_{{apu.id}}_{{loop.index}}"class="btn btn-primary" >Editar</a>
                                              <a href="{{ path('reporte_proyectoapu', {'num': loop.index, 'apu_id': apu.id, 'proyecto_id':apu.proyecto}) }}"  target="_blank" class="btn btn-success">Imprimir</a>
                                              <a id="deleteapu_{{apu.id}}" class="btn btn-danger" >Eliminar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h3 class="text-center"> No existen Datos para Mostrar...</h3>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

    <div id="nuevo" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div id="form_nuevo" class="modal-body">
          </div>                     
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function(){

            $("#btn_new").click(function(){
                $.ajax({
                    method: "GET",
                    url: "{{path('proyectoapu_new', {'id_proyecto': proyecto.id })}}",
                    dataType: "json",
                    beforeSend: function () {
                        blockUI();
                    }
                })
                .done(function(data ) {
                    $("#form_nuevo").empty();
                    $("#form_nuevo").html(data.content);
                    unblockUI();
                });
            });           

            $(document).on("click", "a[id^='proyectoapu_']", function (event) {

                event.preventDefault();
                var identificador = $(this).attr("id");
                var id = identificador.split("_");
               
                $.ajax({
                    method: "GET",
                    url: Routing.generate('proyectoapu_edit', { id: id[1], item: id[2]}),
                    dataType: "json",
                    beforeSend: function () {
                        blockUI();
                    }
                })
                .done(function(data ) {
                    $("#form_nuevo").empty();
                    $("#form_nuevo").html(data.content);
                    unblockUI();
                });          
            });

            $(document).on("click", "a[id^='cantDetailApu_']", function (event) {

                event.preventDefault();
                var identificador = $(this).attr("id");
                var id = identificador.split("_");
                var cantidad= $('#cantDetailApuValor_'+ id[1]).val();

                $.ajax({
                    method: "GET",
                    url: Routing.generate('cantDetailApu', { id: id[1], canti: cantidad}),
                    dataType: "json",
                    beforeSend: function () {
                        blockUI();
                    }
                })
                .done(function(data ) {
                    //var unitario = $('#unitario_'+id[1]).html();
                    var unitario = parseFloat($('#unitario_'+id[1]).val());
                    if (isNaN(parseFloat(unitario)) == true)
                        unitario = parseFloat($('#unitario_'+id[1]).html());

                    var dias =     $('#diasDetailApuValor_'+id[1]).val();
                    var total = parseFloat(parseFloat(cantidad) * parseInt(dias) * unitario );
                    //console.log(cantidad, dias, unitario, total);
                    $('#totalDetail_'+id[1]).html( total.formatMoney(2, '.', ''));
                    $("#"+identificador).removeClass('btn-info');
                    $("#"+identificador).addClass('btn-success');
                    unblockUI();
                });          
            });

            $(document).on("click", "a[id^='diasDetailApu_']", function (event) {

                event.preventDefault();
                var identificador = $(this).attr("id");
                var id = identificador.split("_");
                var dias= $('#diasDetailApuValor_'+ id[1]).val();

                $.ajax({
                    method: "GET",
                    url: Routing.generate('diasDetailApu', { id: id[1], dias: dias}),
                    dataType: "json",
                    beforeSend: function () {
                        blockUI();
                    }
                })
                .done(function(data ) {
                    //var unitario = $('#unitario_'+id[1]).html().replace('.','').replace(',','.');
                    var unitario = findAndReplace(findAndReplace($('#unitario_'+id[1]).html(), ',', ''),',','.');
                    //var unitario = parseFloat($('#unitario_'+id[1]).html());
                    if (isNaN(parseFloat(unitario)) == true) {
                      unitario = findAndReplace(findAndReplace($('#unitario_'+id[1]).val(), ',', ''),',','.');
                    }
                    var cantidad = $('#cantDetailApuValor_'+id[1]).val();
                    var total = parseFloat(parseFloat(cantidad) * parseInt(dias) * parseFloat(unitario));
                    $('#totalDetail_'+id[1]).html( total.formatMoney(2, '.', ''));
                    $("#"+identificador).removeClass('btn-info');
                    $("#"+identificador).addClass('btn-success');

                    unblockUI();
                });          
            });


            $(document).on("change", "select[id^='tipoTarea_']", function (event) {
                event.preventDefault();
                var identificador = $(this).attr("id");
                var id = identificador.split("_");
                var valor = $("#"+identificador).val();
                $.ajax({
                    method: "GET",
                    url: Routing.generate('ubicacionDetailApu', { id: id[1], valor: valor}),
                    dataType: "json",
                    beforeSend: function () {
                        blockUI();
                    }
                })
                .done(function(data ) {
                    $("#"+identificador+"_div").addClass('btn');
                    $("#"+identificador+"_div").addClass('has-success');
                    unblockUI();
                });          
            });

            function findAndReplace(string, target, replacement) {
              var i = 0, length = string.length;
               
              for (i; i < length; i++) {
                string = string.replace(target, replacement);
              }
              return string;             
            }

            $(document).on("click", "a[id^='sendUnitario_']", function (event) {
                event.preventDefault();
                var identificador = $(this).attr("id");
                var id = identificador.split("_");
                var cant= $('#cantDetailApuValor_'+ id[1]).val();
                var precio= parseFloat( $('#unitario_'+ id[1]).val());
                var total = parseFloat(parseFloat(cant) * precio).formatMoney(2,'.','');
                console.log(cant, precio, total);
                $.ajax({
                  method: "GET",
                  url: Routing.generate('updatePrecio', { id_actividad: id[2], id_detalle: id[1], precio: precio }),
                  dataType: "json",
                  beforeSend: function () {
                      blockUI();
                  }
                })
                .done(function(data ) {
                  if (data.content == true) {
                    $('#totalDetail_'+id[1]).html( total );
                    $("#"+identificador).removeClass('btn-info');
                    $("#"+identificador).addClass('btn-success');                        
                  }else{
                   
                    if (confirm("Disculpe, el precio de venta ingresado es menor al precio de compra. ¿Está seguro de realizar esta acción? ") == true) {
                      $.ajax({
                        method: "GET",
                        url: Routing.generate('updatePrecio2', { id_actividad: id[2], id_detalle: id[1], precio: precio }),
                        dataType: "json",
                      })
                      .done(function(data2 ) {
                        $('#totalDetail_'+id[1]).html( total);
                        $("#"+identificador).removeClass('btn-info');
                        $("#"+identificador).addClass('btn-success'); 
                      });
                    }
                  }
                  unblockUI();
                });        
                
            });

            $(document).on("click", "a[id^='deleteapu_']", function (event) {

                event.preventDefault();
                var r = confirm("¿Desea Eliminar este Item?");
                if (r == false) return false; 

                var identificador = $(this).attr("id");
                var id = identificador.split("_");                
               
                $.ajax({
                    method: "GET",
                    url: Routing.generate('delete_Apu', { id: id[1]}),
                    dataType: "json",
                })
                .done(function(data ) {
                    location.reload();
                });          
             
            });

            function blockUI(){
                $("#opaco_div").css("display",'block');
            }

            function unblockUI(){
                $("#opaco_div").css("display",'none');
            }

            $(document).on("change", "#form_materiales", function (event) {
                $("#form_costo").val($("#form_costoMateriales")[0][event.target.selectedIndex].text);
            });

            $(document).on("change", "#form_manoObra", function (event) {
                $("#form_costo").val($("#form_costoManoObra")[0][event.target.selectedIndex].text);
            });

            $(document).on("change", "#form_maquinaria", function (event) {
                $("#form_costo").val($("#form_costoMaquinaria")[0][event.target.selectedIndex].text);
            });

            $(document).on("click", "#add_detailApu", function (event) {
                event.preventDefault();

                var numApu=$("#aquiApuId").val();
                var tipo=0;
                var actividad=0;
                var aux="";
                var canti=$("#form_cantidad").val();
                var costo=parseFloat($("#form_costo").val());
                var dia=$("#form_dia").val();

                if ( $("#form_manoObra").val()!=null) {
                    tipo=1;
                    actividad= $("#form_manoObra").val().toString();
                    descripcion="nada" //$("#form_manoObra")[0][$("#form_manoObra")[0].selectedIndex].label;
                    descripcionSend = descripcion;
                };
                if ($("#form_maquinaria").val()!= null ) {
                    tipo=2;
                    actividad=$("#form_maquinaria").val().toString();
                    descripcion="nada" //$("#form_maquinaria")[0][$("#form_maquinaria")[0].selectedIndex].label;
                    descripcionSend = descripcion;
                };

                if ($("#form_materiales").val()!= null) {
                    tipo=3;
                    actividad=$("#form_materiales").val().toString();
                    $costo = 0
                    descripcion="nada"//$("#form_materiales")[0][$("#form_materiales")[0].selectedIndex].label;
                    //descripcionSend = descripcion.replace(new RegExp('/', 'g'), '-');
                    
                    descripcionSend = descripcion;
                };

                $.ajax({
                    method: "GET",
                    url: Routing.generate('proyectoapu_createAddDetail', { num_apu: numApu, tipo:tipo, actividad:actividad, cantidad:canti, costo: costo, dias:dia, descrip:descripcionSend}),
                    dataType: "json",
                    beforeSend: function () {
                        blockUI();
                    }
                })
                .done(function(data ) {

                    if (tipo == 1)
                        $("#table_manoObra").html(data.content);

                    if (tipo==2)
                        $("#table_maquinaria").html(data.content);
                    if (tipo == 3)
                        $("#table_materiales").html(data.content);

                    $("#detalleApu").html('');

                });          
                $("#detalleApu").html('');
            });            
                        
            $(document).on("click", "a[id^='deleteApu_']", function (event) {

                event.preventDefault();
                var identificador = $(this).attr("id");
                var id = identificador.split("_");
               
                $.ajax({
                    method: "GET",
                    url: Routing.generate('delete_detalleApu', { id_detalle: id[1]}),
                    dataType: "json",
                    beforeSend: function () {
                        blockUI();
                    }
                })
                .done(function(data ) {
                    $('#row_'+id[1]+'_'+id[2]).remove();
                    unblockUI();
                });          
             
            });
            
            $(document).on("click", "a[id^='add_']", function (event) {
                event.preventDefault();
                var identificador = $(this).attr("id");
                var id = identificador.split("_");

                $.ajax({
                    method: "GET",
                    url: Routing.generate('proyectoApuAddDetails', { formAct: id[1]}),
                    dataType: "json",
                    beforeSend: function () {
                        $("#opaco_div2").css("display",'block');
                    }
                })
                .done(function(data ) {
                    $("#detalleApu").empty();
                    $("#detalleApu").html(data.content);
                    $("#contentDetalleApu").fadeIn();
                    $("#opaco_div2").css("display",'none');
                });          
            });

            $(document).on("keydown", ".decimal", function(e) {
              var keynum
              var keychar
              var numcheck


              if(window.event){
              /*/ IE*/
                  keynum = e.keyCode
              }
              else if(e.which){
              /*/ Netscape/Firefox/Opera/*/
                  keynum = e.which
              }

              if((keynum>=35 && keynum<=37) ||keynum==8||keynum==9||keynum==46||keynum==39) {
                return true;
              }

              if(keynum==190||keynum==110||(keynum>=95&&keynum<=105)||(keynum>=48&&keynum<=57)){
                  posicion = this.value.indexOf('.');

                  if(posicion==-1) {
                      return true;
                  }else {
                      if(!(keynum==190||keynum==110)){
                          var posicion = this.value.indexOf('.');
                          var decimal = 3;
                          if(this.value.length - posicion < decimal){
                              this.value = this.value.substr(0,this.value.length);
                          }else {
                              this.value = this.value.substr(0,posicion+decimal-1);
                          }
                          return true;
                      }else{
                        return false;
                      }
                  }
              }else {
                return false;
              }
            });

            $(document).on('keypress', '.numeros', function(e){
              var keynum = window.event ? window.event.keyCode : e.which;
              if ((keynum == 8) || (keynum == 46))
                return true;
              
              return /\d/.test(String.fromCharCode(keynum));
            })
            Number.prototype.formatMoney = function(c, d, t){
                var n = this, 
                c = isNaN(c = Math.abs(c)) ? 2 : c, 
                d = d == undefined ? "." : d, 
                t = t == undefined ? "," : t, 
                s = n < 0 ? "-" : "", 
                i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
                j = (j = i.length) > 3 ? j % 3 : 0;
               return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
             };
        });
    </script>
{% endblock %}