{{ form_start(form, {'attr': {'role': 'form'}}) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}

<style>
	.hidden{
		display: none;
	}
</style>

	<fieldset class="col-xs-12 well">
		<div class="form-group col-md-9">
	    {{ form_label(form.plantilla, 'Seleccionar Plantilla:') }}
	    {{ form_errors(form.plantilla) }}
	    {{ form_widget(form.plantilla, { 'attr': {'class': 'form-control select'} }) }}
		</div>

		<div class="col-md-3 pull-right">
		  <a id="add_plantilla_{{proyecto}}" class="btn btn-info col-md-12"> Agregar </a>
		  <br>
		  <br>
		  <button type="button" data-dismiss="modal" class="btn btn-danger col-md-12"> Cancelar </button>
		</div>
	</fieldset>

{{ form_end(form, {'render_rest': false}) }}
