<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
                                        

<style type="text/css">
	
	#cuerpo{		
		width: 100%;		
		height: auto;
		font-size: 8px;
	}

	table, th, td {
	   border: 1px solid #DDD;
	}

	table {
	    border-collapse: collapse;
	}

	thead{ 
		text-align: center; 
		border:1px solid #DDD;
	}
	tr{text-align: center;}
	td{text-align: center;}
	th{text-align: center;}
</style>

<div id="cuerpo">
	
		{% include 'AppBundle:Reportes:header.html.twig'%}

		<div style="width: 100%;	font-size: 14px;	text-align: center;	text-decoration: underline;">
			&nbsp;{{Plantilla.nombre}}
		</div>

		<div>
			<table border="1" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th style="font-size:11px;" colspan="3">   MATERIALES  </th>
						<th style="font-size:11px;">   UNIDAD  				  </th>
						<th style="font-size:11px;">   CANTIDAD  			  </th>
						<th style="font-size:11px;">   COSTO 				  </th>
						<th style="font-size:11px;">   TOTAL  				  </th>
					</tr>
				</thead>
				<tbody>
					{% set mat = 0 %}
					{% for apu in ProyectoApuDetalle if apu.tipoActividad == 3 %}
					<tr>
						<td colspan="3" style="text-align: left; font-size:11px;"> {{ apu.descripcion }} </td>
						<td style="font-size:11px;"> {{materiales[apu.idActividad]}} </td>
						<td style="font-size:11px;"> {{ apu.cantidad     }} </td>
						<td style="font-size:11px; text-align: right;"> {{ apu.costoUnidad | number_format(2, ',','.') }} &nbsp; </td>
						<td style="font-size:11px; text-align: right;"> 
							{% set mat = mat + (apu.cantidad * apu.costoUnidad) %}
							{{ (apu.cantidad * apu.costoUnidad) | number_format(2, ',','.') }} &nbsp;
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="6" style="text-align: right; font-size:11px;"> <b> 1.- Total MATERIALES:  </b> </td>
						<td style="text-align: right; font-size:11px;">{{mat | number_format(2, ',','.')}} &nbsp; </td>
					</tr>
					<tr>
						<td colspan="7"></td>
					</tr>
				</tbody>
			</table>

			<table border="1" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th style="font-size:11px;" colspan="3">  MAQUINARIAS </th>
						<th style="font-size:11px;">   CANTIDAD  				  </th>
						<th style="font-size:11px;">   DIAS  			  </th>
						<th style="font-size:11px;">   COSTO 				  </th>
						<th style="font-size:11px;">   TOTAL  				  </th>
					</tr>
				</thead>
				<tbody>
					{% set maq = 0 %}
					{% for apu in ProyectoApuDetalle if apu.tipoActividad == 2 %}
					<tr>
						<td colspan="3" style="text-align: left; font-size:11px;" > {{ apu.descripcion  }} </td>
						<td style="font-size:11px;"> {{ apu.cantidad     }} </td>
						<td style="font-size:11px;"> {{ apu.dias}} </td>
						<td style="text-align: right; font-size:11px;"> {{ apu.costoUnidad | number_format(2, ',','.') }} &nbsp; </td>
						<td style="text-align: right; font-size:11px;"> 
							{% set maq = maq + (apu.dias * apu.cantidad * apu.costoUnidad) %}
							{{ (apu.dias * apu.cantidad * apu.costoUnidad) | number_format(2, ',','.') }} &nbsp;
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="6" style="text-align: right; font-size:11px;"> <b> 2.- Total MAQUINARIAS:  </b> </td>
						<td style="text-align: right; font-size:11px;"> {{maq | number_format(2, ',','.')}} &nbsp; </td>
					</tr>
					<tr>
						<td colspan="7"></td>
					</tr>
				</tbody>
			</table>

			<table border="1" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th style="font-size:11px;" colspan="3">  MANO DE OBRA </th>
						<th style="font-size:11px;">   CANTIDAD 				  </th>
						<th style="font-size:11px;">   DIAS 			  </th>
						<th style="font-size:11px;">   JORNADA				  </th>
						<th style="font-size:11px;">   TOTAL 				  </th>
					</tr>
				</thead>
				<tbody>
					{% set man = 0 %}
					{% set comida = 0 %}
					{% for apu in ProyectoApuDetalle if apu.tipoActividad == 1 %}
					<tr>
						<td colspan="3" style="text-align: left; font-size:11px;"> {{ apu.descripcion  }}
							{% if apu.tipoTarea == 1 %}
								- EN PLANTA
							{% endif %}
							{% if apu.tipoTarea == 2 %}
								- EN TALLER
							{% endif %}
						</td>
						<td style="font-size:11px;"> {{ apu.cantidad     }} </td>
						<td style="font-size:11px;"> {{ apu.dias}} </td>
						<td style="font-size:11px; text-align: right;"> {{ apu.costoUnidad | number_format(2, ',','.') }} &nbsp; </td>
						<td style="font-size:11px; text-align: right;"> 
							{% set man = man + (apu.dias * apu.cantidad * apu.costoUnidad) %}
							{% set comida = comida + (apu.dias * apu.cantidad ) %}
							{{ (apu.dias * apu.cantidad * apu.costoUnidad) | number_format(2, ',','.') }} &nbsp;
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="6" style="text-align: right; font-size:11px;"> <b> Total MANO DE OBRA:  </b> </td>
						<td style="text-align: right; font-size:11px;">{{man | number_format(2, ',','.')}} &nbsp;</td>
					</tr>
					<tr>
						<td colspan="9" style="text-align:justify; font-size:11px; padding:3px; margin-top: 5px; "> 
							<b>Comentarios: </b> {{Plantilla.comentario}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</html>