<br/>
<p>
	<span class="badge bg-blue"> Pc 1: {{material.precio1}}</span>
	<span class="badge bg-yellow">Pc 2: {{material.precio2}}</span>
	<span class="badge bg-orange">Pc 3: {{material.precio3}}</span>
</p>

