{% if requisitores|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th> #          </th>
                <th> Rif        </th>
                <th> Nombre y Apellido</th>
                <th> Empresa </th>
                <th> Tlf </th>               
                <th> Email      </th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody>
            {% for requisitor in requisitores %}
                <tr>
                    <td> {{loop.index}}</td>
                    <td> {{ requisitor.rif }}</td>
                    <td> {{ requisitor.razon|length >25 ? requisitor.razon|slice(0, 25) ~ '...' : requisitor.razon }} </td>
                    <td> {{ requisitor.cliente }}</td>
                    <td> {{ requisitor.tlf }}</td>
                    <td> {{ requisitor.email|length >20 ? requisitor.email|slice(0, 20) ~ '...' : requisitor.email }} </td>
                    <td>
                        <a href="{{ path('requisitores_edit', { 'id': requisitor.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(requisitores) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}