<div class="box-body">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </h4>
        </div>
    {% endif %}
    <div class="form-group col-md-6">
        {{ form_label(form.cliente, 'Empresa: ') }}
        <br>
        {{ form_errors(form.cliente) }}
        {{ form_widget(form.cliente, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.rif, 'Rif: ') }}
        {{ form_errors(form.rif) }}
        {{ form_widget(form.rif, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-12">
        {{ form_label(form.razon, 'Nombre y Apellidos: ') }}
        {{ form_errors(form.razon) }}
        {{ form_widget(form.razon, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.tlf, 'Teléfono: ') }}
        {{ form_errors(form.tlf) }}
        {{ form_widget(form.tlf, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.email, 'Email: ') }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    </div>
    

</div>

<div class="box-footer">
    <a href="{{ path('requisitores') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('requisitores_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>   