{% if bitacoras|length > 0 %}
    <table class="table table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Fecha </th>
                <th> Modulo </th>
                <th> Referencia</th>
                <th> Accion</th>
                <th> Usuario </th>
            </tr>
        </thead>
        <tbody>
            {% for bitacora in bitacoras %}
                {% set clase = "default" %}
                {% if bitacora.modulo =="Proyectos" or bitacora.modulo == "Item APU" %}
                    {% set clase = "warning" %}
                {% endif %}
                <tr class={{clase}}>
                    <td> {{ loop.index }}</td>
                    <td> {{ bitacora.fecha |date("Y-m-d") }}</td> 
                    <td> {{ bitacora.modulo }}    </td>        
                    <td> {{ bitacora.referencia}} </td>            
                    <td> {{ bitacora.accion }}</td>
                    <td> {{ bitacora.usuario }}</td>                     
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(bitacoras) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}