{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}


{% block pageTitle %} Bitacora {% endblock %}

{% block sonata_page_content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3>Listado de Bitacora</h3>
                        <div class="col-md-10">
                            {% include '@App/Comun/formBusquedaStandar.html.twig' %}
                        </div>                      
                    </div>
                    <div class="box-body table-responsive" id="listado_Bitacora">
                        
                    </div>
                    <!-- Loading (remove the following to stop the loading)-->
                    <div id="opaco_div" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- end loading -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script id="KnpPaginatorScript" type="text/javascript" src="{{ asset('bundles/app/libs/KnpPaginatorAjax.js')}}" DataLoaderFunctionName="CargarListadoBitacora" searchFields="bitacoras.modulo, bitacoras.referencia, bitacoras.fecha, bitacoras.usuario"></script>
    <script type="text/javascript" src=" {{ asset('bundles/app/libs/Listado_almacen.js')}} "></script>
{% endblock %}
   