<div class="box-body">

    <div class="form-group col-md-12">
        {{ form_label(form.nombre, 'Nombre del Modelo: ') }}
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="box-footer">
    <a href="{{ path('modelos') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('modelos_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>   