{% extends 'backendBase.html.twig' %}
{# {% extends 'ApplicationSonataAdminBundle::standard_layout.html.twig' %} #}

{% block pageTitle %} Modelos {% endblock %}

{% block sonata_page_content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3>Listado de Modelos</h3>
                        <div class="col-md-10">
                            {% include '@App/Comun/formBusquedaStandar.html.twig' %}
                        </div>
                        <div class="col-md-2">
                            <a  href="{{ path('modelos_new') }}" class="btn btn-primary" style="float:right;">
                                <i class="fa fa-plus"></i> Nuevo Modelo
                            </a>
                        </div>
                    </div>
                    <div class="box-body no-padding" id="listado_modelos">
                        
                    </div>

                    <!-- Loading (remove the following to stop the loading)-->
                    <div id="opaco_div" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- end loading -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script id="KnpPaginatorScript" type="text/javascript" src="{{ asset('bundles/app/libs/KnpPaginatorAjax.js')}}" DataLoaderFunctionName="CargarListadoModelos" searchFields="modelos.nombre"></script>
    <script type="text/javascript" src=" {{ asset('bundles/app/libs/Listado_almacen.js')}} "></script>
{% endblock %}
   