{% if tipoapues|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th>#</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tipoapu in tipoapues %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ tipoapu.nombre }}</td>
                    <td>
                        <a href="{{ path('tipoapu_edit', { 'id': tipoapu.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(tipoapues) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}