<table class="table table-striped">
	<thead>
		<tr>
		{# sorting of properties based on query components #}
		    <th>{{ knp_pagination_sortable(tipoapues, '#', 'a.id') }}</th>
		    <th {% if tipoapues.isSorted('a.nombre') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(tipoapues, 'Nombre', 'a.nombre') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for article in tipoapues %}
			<tr {% if loop.index is odd %}class="color"{% endif %}>
			    <td>{{ article.id }}</td>
			    <td>{{ article.nombre }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(tipoapues) }}
</div>

