<style type="text/css">
	
	#cuerpo{		
		width: 100%;		
		height: auto;
		font-size: 8px;
	}

	table, th, td {
	   border: 1px solid #DDD;
	}

	table {
	    border-collapse: collapse;
	}

	thead{ 
		text-align: center; 
		border:1px solid #DDD;
	}
	tr{text-align: center;}
	td{text-align: center;}
	th{text-align: center;}
</style>		
		{% include 'AppBundle:Reportes:header.html.twig'%}

		<div style="width: 100%;	font-size: 14px;	text-align: center;	text-decoration: underline;">
			ANÁLISIS DE PRECIOS UNITARIOS
		</div>

		<div style="float: left; font-size:11px;">
			<b>Proyecto:</b> {{Proyecto.descripcion}}<br/>
			<b>Miscelaneo: </b> {{Apu.miscelaneo}} <br/>
			<b>Item {{num }}: </b> {{Apu.nombre}}
		</div>

		<div>
			<table border="1" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th style="font-size:11px;" colspan="3"> <b>  MATERIALES </b> </th>
						<th style="font-size:11px;">  UNIDAD  				  </th>
						<th style="font-size:11px;">  CANTIDAD  			  </th>
						<th style="font-size:11px;">  COSTO 				  </th>
						<th style="font-size:11px;">  TOTAL 				  </th>
					</tr>
				</thead>
				<tbody>
					{% set mat = 0 %}
					{% for apu in ProyectoApuDetalle if apu.tipoActividad == 3 %}
					<tr>
						<td style="font-size:11px;" colspan="3" style="text-align: left;"> {{ apu.descripcion  }} </td>
						<td style="font-size:11px;"> {{materiales[apu.idActividad]}} </td>
						<td style="font-size:11px;"> {{ apu.cantidad     }} </td>
						<td style="text-align: right; font-size:11px;"> {{ apu.costoUnidad | number_format(2, ',','.') }} &nbsp; </td>
						<td style="text-align: right; font-size:11px;"> 
							{% set mat = mat + (apu.cantidad * apu.costoUnidad) %}
							{{ (apu.cantidad * apu.costoUnidad) | number_format(2, ',','.') }} &nbsp;
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="6" style="text-align: right; font-size:11px;"> <b> 1.- Total MATERIALES:  </b> </td>
						<td style="text-align: right; font-size:11px;"> {{mat | number_format(2, ',','.')}}  &nbsp;</td>
					</tr>
					<tr>
						<td colspan="7"></td>
					</tr>
				</tbody>
			</table>

			<table border="1" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th style="font-size:11px;" colspan="3"> <b>  Maquinarias </b> </th>
						<th style="font-size:11px;">   CANTIDAD 				  </th>
						<th style="font-size:11px;">   DIAS 			  </th>
						<th style="font-size:11px;">   COSTO				  </th>
						<th style="font-size:11px;">   TOTAL 				  </th>
					</tr>
				</thead>
				<tbody>
					{% set maq = 0 %}
					{% for apu in ProyectoApuDetalle if apu.tipoActividad == 2 %}
					<tr>
						<td style="font-size:11px;"  colspan="3" style="text-align: left;" > {{ apu.descripcion  }} </td>
						<td style="font-size:11px;" > {{ apu.cantidad     }} </td>
						<td style="font-size:11px;" > {{ apu.dias}} </td>
						<td style="font-size:11px; text-align: right;" > {{ apu.costoUnidad | number_format(2, ',','.') }}  &nbsp; </td>
						<td style="font-size:11px; text-align: right;" > 
							{% set maq = maq + (apu.dias * apu.cantidad * apu.costoUnidad) %}
							{{ (apu.dias * apu.cantidad * apu.costoUnidad) | number_format(2, ',','.') }}  &nbsp;
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="6" style="text-align: right; font-size:11px;"> <b> 2.- Total MAQUINARIAS:  </b> </td>
						<td style="text-align: right; font-size:11px;"> {{maq | number_format(2, ',','.')}}  &nbsp;</td>
					</tr>
					<tr>
						<td colspan="7"></td>
					</tr>
				</tbody>
			</table>

			<table border="1" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th style="font-size:11px;" colspan="3"> <b> MANO DE OBRA </b> </th>
						<th style="font-size:11px;">   CANTIDAD  				  </th>
						<th style="font-size:11px;">   DIAS  			  </th>
						<th style="font-size:11px;">   JORNADA 				  </th>
						<th style="font-size:11px;">   TOTAL  				  </th>
					</tr>
				</thead>
				<tbody>
					{% set man = 0 %}
					{% set comida = 0 %}
					{% for apu in ProyectoApuDetalle if apu.tipoActividad == 1 %}
					<tr>
						<td style="font-size:11px;" colspan="3" style="text-align: left;"> 
							{{ apu.descripcion  }}
							{% if apu.tipoTarea == 1 %}
								- EN PLANTA
							{% endif %}
							{% if apu.tipoTarea == 2 %}
								- EN TALLER
							{% endif %}

						</td>
						<td style="font-size:11px;"> {{ apu.cantidad     }} </td>
						<td style="font-size:11px;"> {{ apu.dias}} </td>
						<td style="font-size:11px; text-align: right;"> {{ apu.costoUnidad | number_format(2, ',','.') }} &nbsp; </td>
						<td style="font-size:11px; text-align: right;"> 
							{% set man = man + (apu.dias * apu.cantidad * apu.costoUnidad) %}
							{% set comida = comida + (apu.dias * apu.cantidad ) %}
							{{ (apu.dias * apu.cantidad * apu.costoUnidad) | number_format(2, ',','.') }} &nbsp;
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="6" style="text-align: right; font-size:11px;"> <b> Total MANO DE OBRA:  </b> </td>
						<td style="text-align: right; font-size:11px;">{{man | number_format(2, ',','.')}} &nbsp;</td>
					</tr>
					<tr>
						<td rowspan="9" colspan="4" style="text-align:justify; "> 
							<b>Comentarios: </b> {{Apu.comentario}}
						</td>
						<td colspan="2" style="text-align: right; font-size:11px;" >
								Prestaciones: {{ Proyecto.prestaciones | number_format(2,',','.') }} %: &nbsp;
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >{{ (Proyecto.prestaciones * man / 100 ) | number_format(2,',','.') }} &nbsp;</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right; font-size:11px;" >
								Total MDO con Prestaciones: &nbsp;
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >
							{% set man_prest = (Proyecto.prestaciones * man / 100 ) + man  %}
							{{ man_prest | number_format(2,',','.') }} &nbsp;
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right; font-size:11px;" >
							<b>
								Nº Comida: {{ comida }}  Valor: {{ Proyecto.comida | number_format(2,',','.')}} &nbsp; 
							</b>
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >
							{% set ttl_comida = (comida * Proyecto.comida) %}
							{{ ttl_comida | number_format(2,',','.')}} &nbsp;
						</td>
					</tr>

					<tr>
						<td colspan="2" style="text-align: right; font-size:11px;" >
							<b>
								3.- Total MANO DE OBRA: &nbsp;
							</b>
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >{{(ttl_comida + man_prest) | number_format(2,',','.')}} &nbsp; </td>
					</tr>

					<tr>
						<td colspan="2" style="text-align: right; font-size:11px;" >
								Costos Directos (1+2+3):  &nbsp;
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >
							{% set cos_dir = ( ttl_comida + man_prest + maq + mat) %}
							{{ cos_dir | number_format(2,',','.')}} &nbsp;
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right; font-size:11px;">
								Gastos Administrativos {{Proyecto.gastoAdmin | number_format(2,',','.')}} %: &nbsp;
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >
							{{ (cos_dir * Proyecto.gastoAdmin /100) | number_format(2,',','.')}} &nbsp;
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right; font-size:11px;" >
								SUB-TOTAL:  &nbsp;
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >
							{% set subtotal2 = ((cos_dir * Proyecto.gastoAdmin /100) + cos_dir ) %}
							{{     subtotal2 | number_format(2,',','.')}} &nbsp;
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right; font-size:11px;" > 
								Utilidad {{Proyecto.utilidad | number_format(2,',','.')}} %: &nbsp;
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >
							{% set utilidad = ( subtotal2 * Proyecto.utilidad /100) %}
							{{  utilidad | number_format(2,',','.')}} &nbsp;
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right; font-size:11px;" > 
							<b>
								TOTAL: &nbsp;
							</b>
						</td>
						<td colspan="1"  style="text-align: right; font-size:11px;" >
							<b> {{ (utilidad + subtotal2) | number_format(2,',','.')}} &nbsp; </b>
						</td>
					</tr>
				</tbody>
			</table>
		</div>