    {# Inicializo variables #}
    {% set comida = 0 %}
    {% set man    = 0 %}
    {% set maq    = 0 %}
    {% set mat    = 0 %}
    {% set total  = 0 %}

    {% for sum in suma %}                   
        {% if sum['tipoActividad'] == 3 %}
            {% set mat = sum['costo'] %}
        {% endif %}

        {% if sum['tipoActividad'] == 2 %}
            {% set maq = sum['costo'] %}
        {% endif %}

        {% if sum['tipoActividad'] == 1 %}
            {% set man = sum['costo'] %}
            {% set comida = sum['comida']  %}
        {% endif %}
    {% endfor %}                
   
    {#*************************************** Calculos********************************************************#}
    {% set ttl_comida   = (comida * Proyecto.comida) %}
    {% set man_prest    = (Proyecto.prestaciones * man / 100 ) + man  %}
    {% set cos_dir      = ( ttl_comida + man_prest + maq + mat) %}
    {% set subtotal2 = ((cos_dir * Proyecto.gastoAdmin /100) + cos_dir ) %}
    {% set utilidad = ( subtotal2 * Proyecto.utilidad /100) %}
  
    <tr>
        <td style="font-size:11px;"> {{ item}}</td>
        <td style="font-size:11px;"> {{ entity.cantApu * entity.cantMedidaApu }}</td>
        <td style="font-size:11px;"> {{ entity.tipoapu}}</td>
        <td style="font-size:11px; text-align: rigth;"> {{ ((utilidad + subtotal2) / (entity.cantApu * entity.cantMedidaApu))  |number_format(2, ',','.')}}  </td>
        <td style="font-size:11px; text-align: rigth;"> {{ ( utilidad + subtotal2) | number_format(2,',','.')}} </td>
        <td style="font-size:11px; text-align: rigth;"> {{ ((utilidad + subtotal2) / entity.cantMedidaApu)  |number_format(2, ',','.')}}  </td>
        <td style="font-size:11px; text-align: rigth;"> {{ (entity.cantApu * (utilidad + subtotal2)) | number_format(2,',','.')}} </td>
    </tr>
                    
