<div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px white;">
		<tr style="border:1px white;">
			<td rowspan="2" style="text-align:left; border:1px white;">
				<img src="{{asset('bundles/app/img/logo_urumaco.png')}}" style="width:150px; float:left;">
				<br>
				<span> <b> RIF.: J - 29413462 - 9</b></span>
			</td style="border:1px white;">
			<td style="border:1px white; text-align:rigth;" >  
				<br/>
				<b>
				{% if Proyecto.fechaEnvio is defined %}
					Valencia, {{ Proyecto.fechaEnvio |date("d/m/Y") }} </b>		
				{% else %}
					Valencia, {{ "now"|date("d/m/Y") }} </b>		
				{% endif %}
			</td>
		</tr style="border:1px white;">
		<tr style="border:1px white;">
			<td style="border:1px white; text-align:rigth;">
				{% if Proyecto.rq is defined %}
					<br/>
					<br/>
					<b> {{Proyecto.rq}} </b>
					{% if Proyecto.statusProyecto == "APROBADAS" %}
					<br/>
						<b> PO: {{ Proyecto.oc}}</b>
					{% endif %}
				{% endif %}
			</td>
		</tr>
	</table>
</div>