{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}

{% block pageTitle %} Reportes - Listado {% endblock %}

{# {%  block pageButton %}<a href="{{ path('backend_notice_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nueva Proveedores</a>{% endblock %} #}

{% block sonata_page_content %}
    <section class="content-header">
    </section>

    <section class="content">
        <div class="row">
            
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border"> <h3>Listado de Reportes</h3></div>
                        <div class="box-body">
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <table class="table table-condensed">
                                    <tbody><tr>
                                      <th style="width: 10px">#</th>
                                      <th>Reporte</th>
                                    </tr>
                                    <tr>
                                      <td>1.</td>
                                      <td><a target="_blank" href="{{ path('reporte_almacen') }}"> Listado de Almacenes</a></td>
                                    </tr>
                                    <tr>
                                      <td>2.</td>
                                      <td><a target="_blank" href="{{ path('reporte_unidades') }}"> Listado de Unidades </a></td>
                                    </tr>
                                    <tr>
                                      <td>3.</td>
                                      <td><a target="_blank" href="{{ path('reporte_marcas') }}"> Listado de Marcas</a></td>
                                    </tr>
                                    <tr>
                                      <td>4.</td>
                                      <td><a target="_blank" href="{{ path('reporte_categorias') }}"> Listado de Categorias</a></td>
                                    </tr>
                                    <tr>
                                      <td>5.</td>
                                      <td><a target="_blank" href="{{ path('reporte_materiales') }}"> Listado de Materiales</a></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}