<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
                                        


<style type="text/css">
	
	#cuerpo{		
		width: 100%;		
		height: auto;
	}

	#encabezado{
		margin: 0;
		height: 40%;
	}

	.fecha{
		width: 30%;
		float: right;
		text-align: right;
	}

	/*#logo{
		display: inline;	
		position: relative;	
		width: 130px;
		height: 120px;		
		border: 1px solid;
	}*/
	ul{
		width: 540px;		
		/*height:140px;	*/
		text-align: center;	
		display: inline-block;	
		padding-left: 20px;
	}
	li{
		display: block;		
		width: 100%;	
		position: relative;	
	}

	#titulo{
		width: 100%;	
		height: 35px;	
		font-size: 24px;	
		text-align: center;	
		margin-bottom: 10px; 
		text-decoration: underline;
	}

	#contenido{
		width: 100%; 
		height: 520px; 
		overflow: auto;
	}

	#under{
		position: absolute;
		margin-top: -50px;
	}

	#under1{
		position: absolute;
		margin-top: -40px;
	}

	table, th, td {
	   border: 1px solid black;
	}

	table {
	    border-collapse: collapse;
	}

	thead{ 
		background-color: rgb(205,205,205);	
		text-align: center; 
		border:1px solid black;
	}
	tr{text-align: center;}
	th{text-align: center;}
</style>

<div id="cuerpo">
	<div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px white;">
			<tr style="border:1px white;">
				<td rowspan="2" style="text-align:left; border:1px white;">
					<img src="{{asset('bundles/app/img/logo_urumaco.png')}}" style="width:150px; float:left;">
					<br>
					<span> <b> RIF.: J - 29413462 - 9</b></span>
				</td style="border:1px white;">
				<td style="border:1px white; text-align:rigth; font-size: 10px;" >
					CALLE PALMA SOLA  LOCAL PARCELA Nº ZB17
				</td>
			</tr style="border:1px white;">
			<tr style="border:1px white;">
				<td style="border:1px white; text-align:rigth; font-size: 10px;">
					ZONA PARCELAMIENTO TECNO GRANJA FLOR AMARILLO <br/>
					VALENCIA – EDO. CARABOBO <br/>
					TELEFAX: 0241-8776163 / 0241-8775612  <br/>
					CEL: 0414-4294588 / 0414-4294945 <br/>
					grupourumaco@hotmail.com <br/>
				</td>
			</tr>
		</table>
	</div>
		{#% include 'AppBundle:Reportes:header.html.twig'#}
		<div id="titulo" style="width: 100%;	
							height: 35px;	
							font-size: 24px;	
							text-align: center;	
							margin-bottom: 10px; 
							text-decoration: underline;">NOTA DE ENTREGA</div>
		</div>

    <div id="contenido">
    	<div style="text-align:rigth;"> <b> Fecha: </b> {{nota.fechaEmision |date("d/m/Y")}} </div> 
    	<div>
    		<b>Cliente: </b> {{cliente.razon}} <br>
    		<b>Rif:</b> {{cliente.rif}} <br>
    		<b>Dirección: </b> {{cliente.direccion}} <br>
    		<b>Teléfono: </b> {{cliente.tlf}} <br>
    	</div>
			<table style="width:100%" cellpadding="6" cellspacing="0" border="0" class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;" >Item</th>
						<th style="width:80px;" >Cantidad</th>
						<th style="width:400px;">Descripción</th>
						<th style="width:150px;">Observación</th>
					</tr>
				</thead>
				<tbody>
					{% if detalles | length > 0 %}
						{% for detalle in detalles %}
							<tr>
								<td style="width:50px;"> {{loop.index}}</td>
								<td style="width:80px;"> {{detalle.cantidad ~ " " ~ detalle.unidad.abv }} </td>
								<td style="width:400px; text-align:justify;"> {{detalle.descripcion }} </td>
								<td style="width:150px;"> {{detalle.observacion }} </td>
							</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="4" style:"text-align: center;"> No existen detalles... </td>
						</tr>
					{% endif %}

					{% if nota.fechaPlanta != "" and nota.codGuia != "" and nota.codControl !="" %}
						<tr>
							<td style="width:50px;"> </td>
								<td style="width:80px;"> </td>
								<td style="width:400px; text-align:justify;">
									<b> Nota: </b> Material que sale de planta el dia  {{nota.fechaPlanta |date("d/m/Y") }}
									según la guia de despacho Nº <b> {{nota.codGuia}} </b> y Nº de Control <b> {{nota.codControl}} </b>
								</td>
								<td style="width:150px;"> </td>
						</tr>
						<tr>
							<td style="width:50px;"> </td>
								<td style="width:80px;"> </td>
								<td style="width:400px;"> </td>
								<td style="width:150px;"> </td>
						</tr>
					{% else %}
					  <tr>
							<td style="width:50px;"> </td>
								<td style="width:80px;"> </td>
								<td style="width:400px;"> <b> Nota: </b>Material Correspondiente a la <b> {{proyecto.oc}} </b> </td>
								<td style="width:150px;"> </td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		<div style="text-align:justify; margin-bottom: 50px;">
			Para información comunicarse por: {{cliente.razon}} ({{nota.contactoEmpresa}}, TLF: {{nota.tlfEmpresa}}). <br>
			 Por Grupo Urumaco ({{nota.contactoUrumaco}}, TLF: {{nota.tlfUrumaco}})
		</div>
		<br>
		<br>
		<br>

		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px white;">
			<tr style="border:1px white;">
				<td rowspan="2" style="text-align:center; border:1px white;">
								Despachado por: <br><br><br><br>

						_______________________________________ <br>
						Nombre Apellido y C.I.
				</td>
				
				<td style="text-align:center; border:1px white;" >
						Recibido por: <br><br><br><br>

			_______________________________________ <br>
			Nombre Apellido y C.I.
				</td>
			</tr>
		</table>


</div>
</html>
