<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
                                        

<style type="text/css">
	
	#cuerpo{		
		width: 100%;		
		height: auto;
	}
	#encabezado{
		width: 100%;		
		height: auto;		
		padding: 0;	
		font-size: 24px;
		/*margin: 7% auto;	*/
		display: block;
	}
	#logo{
		display: inline;	
		position: relative;	
		width: 130px;
		height: 120px;		
		border: 1px solid;
	}
	ul{
		width: 540px;		
		height:140px;	
		text-align: center;	
		display: inline-block;	
		padding-left: 20px;
	}
	li{
		display: block;		
		width: 100%;	
		position: relative;	
	}

	.fecha{ 
		width: 99%;  
		font-size: 14px; 
		text-align: right; 
		height: 14px; 
	}

	#titulo{width: 100%;	
		height: 35px;	
		font-size: 24px;	
		text-align: center;	
		margin-bottom: 10px; 
		text-decoration: underline;
	}

	#contenido{
		width: 100%; 
		height: 520px; 
		overflow: auto;
	}

	thead{ 
		background-color: gray;	
		text-align: center; 
		border:1px solid black;
	}
	tr{text-align: center;}
	th{text-align: center;}
	.impar{background: lightgray;}
</style>

<div id="cuerpo">
	{% if proveedores|length > 0 %}
		<div class="fecha"> Valencia, {{ "now"|date("m/d/Y") }}</div><br>
		<div id="titulo">LISTADO GENERAL DE PROVEEDORES</div>

		<div id="contenido">
			<table style="width:100%" cellpadding="6" cellspacing="0" border="0" class="table table-striped">
	            <thead>
		            <tr>
		            {# sorting of properties based on query components #}
		                <th>#</th>
		                <th>Rif</th>
		                <th>Razon</th>
		                <th>Direccion</th>
		                <th>Telefono</th>
		                <th>Telefono C</th>
		                <th>Email</th>		                
		                <th>Pagina Web</th>
		                <th>Status</th>
		            </tr>
		        </thead>

                <tbody>
		            {% for proveedor in proveedores %}
		                <tr {% if loop.index is odd %}class="color"{% endif %}>
		                	<td>{{ proveedor.id }}</td>
		                    <td>{{ proveedor.rif }}</td>
		                    <td>{{ proveedor.razon }}</td>
		                    <td>{{ proveedor.direccion }}</td>
		                    <td>{{ proveedor.tlf }}</td>
		                    <td>{{ proveedor.tlfC }}</td>
		                    <td>{{ proveedor.email }}</td>
		                    <td>{{ proveedor.paginaWeb }}</td>
		                    <td>{{ proveedor.status }}</td>
		                </tr>
		            {% endfor %}
		        </tbody>
	                    
			</table>
		</div>
	{% else %}
    	no hay datos para mostrar
	{% endif %}
</div>
</html>


