<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
                                        

<style type="text/css">
	
	#cuerpo{		
		width: 100%;		
		height: auto;
	}

	#encabezado{
		margin: 0;
		height: 40%;
	}

	.fecha{
		width: 30%;
		float: right;
		text-align: right;
	}

	/*#logo{
		display: inline;	
		position: relative;	
		width: 130px;
		height: 120px;		
		border: 1px solid;
	}*/
	ul{
		width: 540px;		
		/*height:140px;	*/
		text-align: center;	
		display: inline-block;	
		padding-left: 20px;
	}
	li{
		display: block;		
		width: 100%;	
		position: relative;	
	}

	#titulo{
		width: 100%;	
		height: 35px;	
		font-size: 24px;	
		text-align: center;	
		margin-bottom: 10px; 
		text-decoration: underline;
	}

	#contenido{
		width: 100%; 
		height: 520px; 
		overflow: auto;
	}

	#under{
		position: absolute;
		margin-top: -50px;
	}

	#under1{
		position: absolute;
		margin-top: -40px;
	}

	table, th, td {
	   border: 1px solid black;
	}

	table {
	    border-collapse: collapse;
	}

	thead{ 
		background-color: rgb(205,205,205);	
		text-align: center; 
		border:1px solid black;
	}
	tr{text-align: center;}
	th{text-align: center;}
</style>

<div id="cuerpo">
	{% if proyecto|length > 0 %}
		<div id="titulo">Vista General del Proyecto</div>

		<div id="contenido">
			{% if proyecto.id != "" %}

        <div class="col-md-12 well">
           <h4><i class="icon fa fa-money"></i> Balance </h4>
                    {% set total = 0 %}
            <div class="col-md-3">
                <strong>Materiales:Bs. </strong> 
                {% for sum in suma %}                   
                    {% if sum['tipoActividad'] == 3 %}
                        Bs. {{sum['costo']}} <br>
                        {% set total = total + sum['costo']%}
                    {% endif %}
                {% endfor %}
                
            </div>
            <div class="col-md-3">
                <strong>Maquinarias: Bs. </strong>
                {% for sum in suma %}                   
                    {% if sum['tipoActividad'] == 2 %}
                         {{sum['costo']}} <br>
                        {% set total = total + sum['costo']%}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                <strong>Mano de Obra:Bs. </strong>
                {% set comida = 0 %}
                {% set mdo = 0 %}
                {% for sum in suma %}                   
                    {% if sum['tipoActividad'] == 1 %}
                        Bs. {{sum['costo']}} <br>
                        {% set total = total + sum['costo']%}
                        {% set comida = (sum['canti_item']*sum['dias']*proyecto.comida) %}
                        {% set mdo = sum['costo'] %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                <strong>Total_mdo:</strong>Bs.  {{mdo}}
            </div>
            <div class="col-md-3">
                <strong>Prestaciones:</strong>  Bs. {{proyecto.prestaciones * mdo / 100}}
            </div>
            <div class="col-md-3">
                <strong>Total_mdo + Prestaciones :</strong>  Bs. {{(proyecto.prestaciones * mdo / 100) + mdo}}
            </div>
            
            <div class="col-md-3">
                <strong>Comidas: Bs. {{ comida }}</strong> 
            </div>
            <div class="col-md-3">
                <strong>Costos Directos:</strong> Bs. {{total}}
            </div>
            <div class="col-md-3">
                <strong>Gastos Adm.:</strong>  Bs. {{(proyecto.gastoAdmin * total)/100}}
            </div>
            <div class="col-md-3">
                <strong>Subtotal:</strong>  Bs.
                {% set subtotal = ((proyecto.gastoAdmin * total)/100 ) + total %}
                 {{ subtotal}}
            </div>
            <div class="col-md-3">
                <strong>Utilidades:</strong> Bs. 
                {% set utilidades =  (proyecto.utilidad * total)/100%}
                {{ utilidades }} 
            </div>
            <div class="col-md-3">
                <strong>Precio Total:</strong> Bs. {{ utilidades + subtotal }}
            </div>
        </div>
    {% endif %}
		</div>
	{% else %}
    	no hay datos para mostrar
	{% endif %}
</div>
</html>


