    <tr>
        <td colspan="5" style="text-align:left; font-weight: bold; ">Item {{num ~ ': ' ~ nombre}} </td>
    </tr>
    <tr style="text-align:center;">
        <td> Material    </td>
        <td> Unidad      </td>
        <td> Cantidad    </td>
        <td> Precio Unit </td>
        <td> Total		 </td>
    </tr>
    {% set ttl_gen = 0 %}
    {% for cat in categorias %}
    	<tr>
        	<td colspan="5" style="text-align:center; background-color:#e0e0e0">{{ cat.nombre }}</td>
    	</tr>
		{% set total_cat = 0 %}
		
		{% for mat in materialesApu if mat.categoria == cat.id %}
			
			<tr>
				<td> 							{{ mat.nombre   }}    </td>
				<td> 							{{ mat.unidad   }}      </td>
				<td style="text-align:center;"> {{ mat.cantidad }}    </td>
				<td style="text-align:right;" > Bs. {{ mat.precioVenta |number_format(2, ',','.') }} </td>
				<td style="text-align:right;" > Bs. {{ (mat.precioVenta * mat.cantidad) |number_format(2, ',','.') }}		 </td>
				{% set total_cat = total_cat + (mat.precioVenta * mat.cantidad) %}
			</tr>		
		{% endfor %}	
		{% if total_cat > 0 %}
			<tr style="text-align:right; font-weight: bold;">
				<td  colspan="4"> Total {{cat.nombre}}: </td>
				<td> Bs. {{ total_cat | number_format(2,',','.') }}	</td>
				{% set ttl_gen = ttl_gen + total_cat %}
			</tr>
		{% endif %}
    {% endfor %}
    	<tr style="text-align:right; font-weight: bold;">
			<td  colspan="4"> Total del Item {{nombre}}: </td>
			<td style="border:1px solid black;"> Bs. {{ ttl_gen | number_format(2,',','.') }}	</td>
		</tr>