<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
        
<style>
	table, th, td {
	   border: 1px solid #ddd;
	   font-size: 9px;
	}

	table {
	    border-collapse: collapse;
	    font-size: 9px;
	}

	thead{ 
		text-align: center; 
		border:1px solid #dda;
		font-size: 9px;
	}
</style>

<div id="cuerpo">
	{% include 'AppBundle:Reportes:header.html.twig'%}


	<div id="titulo" style="width: 100%;	
						height: 35px;	
						font-size: 24px;	
						text-align: center;	
						margin-bottom: 10px; 
						text-decoration: underline;">Resumen de Materiales</div>

	<div style="float: left; font-size:11px;">
		<b>Proyecto:</b> {{Proyecto.descripcion}}
	</div>						
	<div id="contenido">
		<table cellpadding="2">
      <tbody>
      	{#% for apu in items %}
      		{{ render(controller("AppBundle:Reportes:proyectoMaterialesApu",{'apu_id':apu.id, 'num':loop.index})) }}
      	{% endfor %#}

		    <tr style="text-align:center;">
		        <td width="300"> Material    </td>
		        <td width="100"> Unidad      </td>
		        <td width="80"> Cantidad    </td>
		        <td width="100"> Precio Unit </td>
		        <td width="100"> Total		 </td>
		    </tr>
		    {% set ttl_gen = 0 %}
		    {% set ttl_global = 0 %}
		    {% for cat in categorias %}
		    	<tr>
		        	<td colspan="5" style="text-align:center; background-color:#e0e0e0">{{ cat.nombre }}</td>
		    	</tr>
				{% set total_cat = 0 %}
				
				{% for mat in materiales if mat.categoria == cat.id %}
					
					<tr>
						<td> 							{{ mat.nombre   }}    </td>
						<td> 							{{ mat.unidad   }}      </td>
						<td style="text-align:center;"> {{ mat.cantidad }}    </td>
						<td style="text-align:right;" > Bs. {{ mat.precioVenta |number_format(2, ',','.') }} </td>
						<td style="text-align:right;" > Bs. {{ (mat.precioVenta * mat.cantidad) |number_format(2, ',','.') }}		 </td>
						{% set total_cat = total_cat + (mat.precioVenta * mat.cantidad) %}
					</tr>		
				{% endfor %}	
				{% if total_cat >= 0 %}
					<tr style="text-align:right; font-weight: bold;">
						<td  colspan="4"> Total {{cat.nombre}}: </td>
						<td> Bs. {{ total_cat | number_format(2,',','.') }}	</td>
						{% set ttl_gen = ttl_gen + total_cat %}
					</tr>
				{% endif %}
		    {% endfor %}
		    	<tr style="text-align:right; font-weight: bold;">
					<td  colspan="4"> Total Global: </td>
					<td style="border:1px solid black;"> Bs. {{ ttl_gen | number_format(2,',','.') }}	</td>
				</tr>
      </tbody>
                    
		</table>
	</div>
</div>
</html>