<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
        
<style>
	table, th, td {
	   border: 1px solid #ddd;
	   font-size: 9px;
	}

	table {
	    border-collapse: collapse;
	    font-size: 9px;
	}

	thead{ 
		text-align: center; 
		border:1px solid #dda;
		font-size: 9px;
	}
</style>

<div id="cuerpo">
	{% include 'AppBundle:Reportes:header.html.twig'%}


	<div id="titulo" style="width: 100%;	
						height: 35px;	
						font-size: 24px;	
						text-align: center;	
						margin-bottom: 10px; 
						text-decoration: underline;">Resumen de Maquinarias</div>

	<div style="float: left; font-size:11px;">
		<b>Proyecto:</b> {{Proyecto.descripcion}}
	</div>						
	<div id="contenido">
		<table cellpadding="2">
      <tbody>
      	{#% for apu in items %}
      		{{ render(controller("AppBundle:Reportes:proyectoMaterialesApu",{'apu_id':apu.id, 'num':loop.index})) }}
      	{% endfor %#}

		    <tr style="text-align:center;">
		        <td width="380"> Descripción    </td>
		        <td width="100"> Nº Jornadas    </td>
		        <td width="100"> Precio x Día </td>
		        <td width="100"> Total		 </td>
		    </tr>
		    {% set ttl_gen = 0 %}
			{% for mo in manoObra %}
				
				<tr>
					<td> 							{{ mo.descrip   }}    </td>
					<td style="text-align:center;"> {{ mo.cantidad }}    </td>
					<td style="text-align:right;" > Bs. {{ mo.precioDia |number_format(2, ',','.') }} </td>
					<td style="text-align:right;" > Bs. {{ (mo.cantidad * mo.precioDia) |number_format(2, ',','.') }}		 </td>
					{% set ttl_gen = ttl_gen + (mo.cantidad * mo.precioDia) %}
				</tr>		
		    {% endfor %}
		    	<tr style="text-align:right; font-weight: bold;">
					<td  colspan="3"> Total: </td>
					<td style="border:1px solid black;"> Bs. {{ ttl_gen | number_format(2,',','.') }}	</td>
				</tr>
      </tbody>
                    
		</table>
	</div>
</div>
</html>