<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
                                        

	<style type="text/css">
		
		#cuerpo{		
			width: 100%;		
			height: auto;
			font-size: 10px;
			min-height: 3300px
		}

		table, th, td {
		   border: 1px solid #ddd;
		}

		table {
		    border-collapse: collapse;
		}

		thead{ 
			background-color: rgb(205,205,205);	
			text-align: center; 
			border:1px solid #ddd;
		}
		tr{text-align: center;}
		td{text-align: center;}
		th{text-align: center;}
	</style>
	<body>
		{% include 'AppBundle:Reportes:header.html.twig'%}

		<div style="float: left; font-size:11px;">
			<b>Proyecto:</b> {{Proyecto.descripcion}}
		</div>

		<div style="width: 100%;	font-size: 22px;	text-align: center;	text-decoration: underline;">
			RESUMEN DE PRECIOS
		</div>

		<div id="cuerpo">
			<table>
		        <tr>
		            <td> <b> Item </b>        </td>
		            <td> <b> Cantidad </b>    </td>
		            <td> <b> Unidad </b>      </td>
		            <td> <b> Precio Unitario </b>         </td>
		            <td> <b> Total </b>      </td>
		        </tr>
		        {% for apu in Apus %}
		        	{{ render(controller("AppBundle:Reportes:calculoIndividual", {'id_apu':apu.id,'item':loop.index})) }}
				{% endfor %}

				{% set total = 0 %}        {% set mat = 0 %}                {% set maq = 0 %}
                {% set man = 0 %}          {% set comida = 0 %}

                {% for sum in suma %}                   
                    {% if sum['tipoActividad'] == 3 %}
                        {% set mat = mat + sum['costo'] %}
                        {% set total = total + sum['costo']%}
                    {% endif %}

                    {% if sum['tipoActividad'] == 2 %}
                        {% set maq = maq + sum['costo'] %}
                        {% set total = total + sum['costo']%}
                    {% endif %}

                    {% if sum['tipoActividad'] == 1 %}
                        {% set man = man + sum['costo'] %}
                        {% set comida = (sum['comida'] * Proyecto.comida) %}
                        {% set total = total + sum['costo']%}
                    {% endif %}
                {% endfor %}

                {% set prestaciones = man * Proyecto.prestaciones / 100 %}               
                {% set costodirecto = mat + maq + prestaciones + man + comida %}
                {% set subtotal2 = ((costodirecto * Proyecto.gastoAdmin /100) + costodirecto )   %}
                {% set utilidades = ( subtotal2 * Proyecto.utilidad /100)  %}


				<tr>
					<td colspan="4" style="text-align: rigth;">
						<b> Total Global Bs.: </b>
					</td>
					<td style="text-align: rigth;"> {{(utilidades + subtotal2)|number_format(2, ',','.')}}</td>
				</tr>
			</table>
			<br>
			<div>
				<b>Vigencia:</b> {{Proyecto.vigencia}} DESDE LA FECHA DE ENVIO.
			</div>
			<div>
				<b>Condición de Pago:</b> ANTICIPO DEL {{Proyecto.anticipo}}% UNA VEZ GENERADA LA ORDEN DE COMPRA.
			</div>
			<div>
				<b>Pago a :</b> {{Proyecto.diasPago}} DIAS
				{% if Proyecto.condiPago == 0 %}
					POR EVALUACIóN
				{% else %}
				    UNA VEZ CULMINADO EL PROYECTO
				{% endif %}
			</div>
			<div style="text-align: justify; ">
				<b>OBSERVACIONES:</b> {{Proyecto.observacion}}
			</div>
		</div>

	</body>
</html>
