<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
                                        

<style type="text/css">
	#cuerpo{		
		width: 100%;		
		height: auto;
	}

	#encabezado{
		margin: 0;
		height: 40%;
	}

	.fecha{
		width: 30%;
		float: right;
		text-align: right;
	}

	ul{
		width: 540px;		
		/*height:140px;	*/
		text-align: center;	
		display: inline-block;	
		padding-left: 20px;
	}

	li{
		display: block;		
		width: 100%;	
		position: relative;	
	}

	#titulo{
		width: 100%;	
		height: 35px;	
		font-size: 24px;	
		text-align: center;	
		margin-bottom: 10px; 
		text-decoration: underline;
	}

	#contenido{
		width: 100%; 
		height: 520px; 
		overflow: auto;
	}

	#under{
		position: absolute;
		margin-top: -50px;
	}

	#under1{
		position: absolute;
		margin-top: -40px;
	}

	table, td, th {    
	    border: 1px solid #ddd;
	    text-align: right;
	    font-size: 11px;
	}
	th{
		text-align: center;
	}

	table {
	    border-collapse: collapse;
	    width: 100%;
	    border: 1px solid #ddd;
	    font-size: 11px;
	}

	th, td {
	    padding: 15px;
	    border: 1px solid #ddd;
	}
</style>

<div id="cuerpo">
	{% if Proyecto|length > 0 %}
		{% include 'AppBundle:Reportes:header.html.twig'%}
		<div style="text-align: right;  font-weight: bold; font-size:18px;">
			{% if proyecto.statusProyecto == "APROBADAS" %}
			<br/>
				<b> {{ proyecto.oc}}</b>
			{% endif %}
		</div>

		<div style="float: left; font-size:11px;">
			<b>Proyecto:</b> {{proyecto.descripcion}}<br/>
		</div>
		<div style="width: 100%;	
					font-size: 24px;	
					text-align: center;	
					text-decoration: underline;">Resumen por Item </div>
		<br>
		<div id="contenido">
			<table style="width:100%" cellpadding="6" cellspacing="0" border="0" class="table table-striped">
	            <thead>
		            <tr style="text-align:center; font-weight:bold;">
		                <th width="35">#</th>
		                <th width="100">Nombre</th>
		                <th>Materiales</th>
		                <th>Maquinarias</th>
		                <th>Mano de Obra</th>
		                <th>Prestaciones</th>
		                <th>Comida</th>
		                <th>Gastos Admin</th>
		                <th>Utilidades</th>
		                <th>Total Bs.</th>
		            </tr>
		        </thead>

                <tbody>
                	{% for apu in apus %}
                	<tr>
                		<td width="35">{{ loop.index }}</td>
                		<td width="100" style="text-align:left;"> {{ apu.miscelaneo }}</td>
                		{{ render(controller("AppBundle:ProyectoApu:calculoDetalleApu",{'id_apu':apu.id, 'accion':'reporte', 'proyecto_id':apu.proyecto})) }}
                	</tr>
					{% endfor %}

					<tr>
						<td colspan="2" width="135"><b>Totales Bs.:</b></td>
						{% set total = 0 %}
						{% set mat = 0 %}
						{% set maq = 0 %}
						{% set man = 0 %}
						{% set comida = 0 %}

						{% for sum in suma %}                   
						    {% if sum['tipoActividad'] == 3 %}
						        {% set mat = mat + sum['costo'] %}
						        {% set total = total + sum['costo']%}
						    {% endif %}

						    {% if sum['tipoActividad'] == 2 %}
						        {% set maq = maq + sum['costo'] %}
						        {% set total = total + sum['costo']%}
						    {% endif %}

						    {% if sum['tipoActividad'] == 1 %}
						        {% set man = man + sum['costo'] %}
			                    {% set comida = (sum['comida'] * proyecto.comida) %}
						        {% set total = total + sum['costo']%}
						    {% endif %}
						{% endfor %}

						<td>
							{{mat |number_format(2, ',','.') }} 
						</td>

						<td>
							{{maq |number_format(2, ',','.') }} 
						</td>

						<td>
							{{man |number_format(2, ',','.') }} 
						</td>

						<td>
							{% set prestaciones = man * Proyecto.prestaciones / 100 %}
							{{ prestaciones | number_format(2, ',','.') }} 
						</td>

						<td>
							{{ comida |number_format(2, ',','.') }} 
						</td>
						
						<td>
							{% set costodirecto = mat + maq + prestaciones + man + comida %}
							{{ (costodirecto * Proyecto.gastoAdmin /100) |number_format(2, ',','.')}}
						</td>
						<td>
							{% set subtotal2 = ((costodirecto * Proyecto.gastoAdmin /100) + costodirecto )   %}
							{% set utilidades = ( subtotal2 * proyecto.utilidad /100)  %}
                			{{ utilidades |number_format(2, ',','.') }} 
						</td>
						<td>
							<b> {{(utilidades + subtotal2)  |number_format(2, ',','.')}}</b>
						</td>
					</tr>
                </tbody>
            </table>
		</div>
	{% else %}
    	no hay datos para mostrar
	{% endif %}
</div>
</html>


