<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="/urumaco/web/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
                                        

<style type="text/css">
	
	#cuerpo{		
		width: 100%;		
		height: auto;
	}

	#encabezado{
		margin: 0;
		height: 40%;
	}

	.fecha{
		width: 30%;
		float: right;
		text-align: right;
	}

	/*#logo{
		display: inline;	
		position: relative;	
		width: 130px;
		height: 120px;		
		border: 1px solid;
	}*/
	ul{
		width: 540px;		
		/*height:140px;	*/
		text-align: center;	
		display: inline-block;	
		padding-left: 20px;
	}
	li{
		display: block;		
		width: 100%;	
		position: relative;	
	}

	#titulo{
		width: 100%;	
		height: 35px;	
		font-size: 24px;	
		text-align: center;	
		margin-bottom: 10px; 
		text-decoration: underline;
	}

	#contenido{
		width: 100%; 
		height: 520px; 
		overflow: auto;
	}

	#under{
		position: absolute;
		margin-top: -50px;
	}

	#under1{
		position: absolute;
		margin-top: -40px;
	}

	table, th, td {
	   border: 1px solid black;
	}

	table {
	    border-collapse: collapse;
	}

	thead{ 
		background-color: rgb(205,205,205);	
		text-align: center; 
		border:1px solid black;
	}
	tr{text-align: center;}
	th{text-align: center;}
</style>

<div id="cuerpo">
	{% if unidades|length > 0 %}
		{% include 'AppBundle:Reportes:header.html.twig'%}
		<div id="titulo" style="width: 100%;	
							height: 35px;	
							font-size: 24px;	
							text-align: center;	
							margin-bottom: 10px; 
							text-decoration: underline;">LISTADO GENERAL DE UNIDADES</div>

		<div id="contenido">
			<table style="width:100%" cellpadding="6" cellspacing="0" border="0" class="table table-striped">
	            <thead>
		            <tr>
		            {# sorting of properties based on query components #}
		                <th>#</th>
		                <th>Nombre</th>
		                <th>Abreviatura</th>
		            </tr>
		        </thead>

                <tbody>
		            {% for unidad in unidades %}
		                <tr {% if loop.index is odd %}class="color"{% endif %}>
		                    <td>{{ unidad.id }}</td>
		                    <td>{{ unidad.nombre }}</td>
                    		<td>{{ unidad.abv }}</td>
		                </tr>
		            {% endfor %}
		        </tbody>
	                    
			</table>
		</div>
	{% else %}
    	no hay datos para mostrar
	{% endif %}
</div>
</html>


