<form role="form" action="#" method="POST" >
    <div class="input-group">
        <input type="text" id="text-search" placeholder="Buscar..." class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" id="btn-search"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>
<span id="tagSearchTextContainer" class="tag label label-primary" style="display: none;">
    Resultados de Búsqueda: <span id="tagSearchText"></span>
    <a><i id="btnRemoveSearch" class="remove icon-cancel-circled-2"></i></a>

    <span class="close-label badge">X</span>
</span>

<style>
	.badge{
		background: #FFF none repeat scroll 0% 0%;
		color: #000;
		font-size: 0.8em;
		left: 5px;
		position: relative;
		top: -2px;
	}
	.badge:hover{
		cursor:pointer;
	}
</style>