<ul class="sidebar-menu">
  <li class="treeview">
    <a href="#">
      <i class="fa fa-folder"></i>
      <span>Configuraciones Generales:</span>
      <i class="fa pull-right fa-angle-left"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ path('almacen') }}">     <i class="fa fa-angle-double-right"></i> Lista de Almacenes  </a>
      </li>
      <li>
        <a href="{{ path('almacen_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Almacen  </a>
      </li>

      <li>
        <a href="{{ path('categorias') }}">  <i class="fa fa-angle-double-right"></i>   Lista de Categorias  </a>
      </li>
      <li>
        <a href="{{ path('categorias_new') }}"> <i class="fa fa-angle-double-right"></i> Nueva Categoría  </a>
      </li>

      <li>
        <a href="{{ path('marcas') }}">   <i class="fa fa-angle-double-right"></i>  Lista de Marcas  </a>
      </li>
      <li>
        <a href="{{ path('marcas_new') }}"> <i class="fa fa-angle-double-right"></i> Nueva Marca  </a>
      </li>

      <li>
        <a href="{{ path('unidades') }}">  <i class="fa fa-angle-double-right"></i>   Lista de Unidades  </a>
      </li>
      <li>
        <a href="{{ path('unidades_new') }}"> <i class="fa fa-angle-double-right"></i> Nueva Unidad  </a>
      </li>
    </ul>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="fa fa-folder"></i>
      <span> Clientes/Proveedores/Requisitores:</span>
      <i class="fa pull-right fa-angle-left"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ path('proveedores') }}">  <i class="fa fa-angle-double-right"></i>   Lista de Proveedores  </a>
      </li>
      <li>
        <a href="{{ path('proveedores_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Proveedor  </a>
      </li>

      <li>
        <a href="{{ path('clientes') }}"> <i class="fa fa-angle-double-right"></i>    Lista de Clientes  </a>
      </li>
      <li>
        <a href="{{ path('clientes_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Cliente  </a>
      </li>

      <li>
        <a href="{{ path('requisitores') }}">  <i class="fa fa-angle-double-right"></i>   Lista de requisitores  </a>
      </li>
      <li>
        <a href="{{ path('requisitores_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Requisitor  </a>
      </li>
    </ul>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="fa fa-folder"></i>
      <span> Configuración de Proyectos:</span>
      <i class="fa pull-right fa-angle-left"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ path('materiales') }}">  <i class="fa fa-angle-double-right"></i>    Lista de Materiales  </a>
      </li>
      <li>
        <a href="{{ path('materiales_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Material  </a>
      </li>

      <li>
        <a href="{{ path('maquinarias') }}"> <i class="fa fa-angle-double-right"></i>    Lista de Maquinarias  </a>
      </li>
      <li>
        <a href="{{ path('maquinarias_new') }}"> <i class="fa fa-angle-double-right"></i> Nueva Maquinaria  </a>
      </li>

      <li>
        <a href="{{ path('horariolaboral') }}">  <i class="fa fa-angle-double-right"></i>   Lista de Horario Laboral  </a>
      </li>
      <li>
        <a href="{{ path('horariolaboral_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Horario Laboral  </a>
      </li>

      <li>
        <a href="{{ path('manoobra') }}"> <i class="fa fa-angle-double-right"></i>     Lista de Mano de Obra  </a>
      </li>
      <li>
        <a href="{{ path('manoobra_new') }}"> <i class="fa fa-angle-double-right"></i> Nueva Mano de Obra  </a>
      </li>

      <li>
        <a href="{{ path('statusproyecto') }}"> <i class="fa fa-angle-double-right"></i>    Lista de Estatus de Proyecto  </a>
      </li>
      <li>
        <a href="{{ path('statusproyecto_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Estatus de Proyecto  </a>
      </li>

      <li>
        <a href="{{ path('tipoapu') }}"> <i class="fa fa-angle-double-right"></i>    Lista de Tipo de Apu  </a>
      </li>
      <li>
        <a href="{{ path('tipoapu_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Tipo de Apu  </a>
      </li>      
    </ul>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="fa fa-folder"></i>
      <span> Area de Proyectos:</span>
      <i class="fa pull-right fa-angle-left"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ path('proyectos') }}">  <i class="fa fa-angle-double-right"></i>    Lista de Proyectos  </a>
      </li>
      <li>
        <a href="{{ path('proyectos_new') }}"> <i class="fa fa-angle-double-right"></i> Nuevo Proyecto  </a>
      </li>
      <li>
        <a href="{{ path('notaentrega') }}">  <i class="fa fa-angle-double-right"></i>  Lista Nota de Entrega  </a>
      </li>
      <li>
        <a href="{{ path('notaentrega_new') }}"> <i class="fa fa-angle-double-right"></i> Nueva Nota de Entrega  </a>
      </li>
      <li>
        <a href="{{ path('plantillas') }}">  <i class="fa fa-angle-double-right"></i>  Lista de Plantillas  </a>
      </li>
      <li>
        <a href="{{ path('plantilla_new') }}"> <i class="fa fa-angle-double-right"></i> Nueva Plantilla  </a>
      </li>
    </ul>
  </li> 

  <li class="treeview">
    <a href="#">
      <i class="fa fa-folder"></i>
      <span> Reportes:</span>
      <i class="fa pull-right fa-angle-left"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{{ path('reporte') }}">  <i class="fa fa-angle-double-right"></i>    Lista de Reportes  </a>
      </li>
    </ul>
  </li>
</ul>

