{% if horariolaboral|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Descripción </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for hl in horariolaboral %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ hl.descripcion }}</td>
                    <td>
                        <a href="{{ path('horariolaboral_edit', { 'id': hl.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(horariolaboral) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}