<div class="box-body">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </h4>
        </div>
    {% endif %}
    <div class="form-group col-md-12">
        {{ form_label(form.descripcion, 'Nombre del Horario: ') }}
        {{ form_errors(form.descripcion) }}
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6 hidden ">
        {{ form_label(form.status, "Activo") }} <br>
        {{ form_errors(form.status) }}
        {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<div class="box-footer">
    <a href="{{ path('horariolaboral') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('horariolaboral_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>