{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}

{% block pageTitle %} Horario Laboral - Crear{% endblock %}

{% block sonata_page_content %}
    <section class="content-header">
    </section>

    <section class="content">
        <div class="row">
            
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border"> <h3 class="col-xs-12">Crear Horario Laboral</h3></div>
                        {{ form_start(form, {'attr': {'role': 'form'}}) }}
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}

                        {% include "AppBundle:HorarioLaboral:form.html.twig" %}

                         
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}