{% if manoObra|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Descripción </th>
                <th> Horario Laboral </th>
                <th> Precio Dia </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for mo in manoObra %}
                <tr {% if loop.index is odd %}class="color"{% endif %} id='rowDelete_{{mo.id}}'>
                    <td>{{ loop.index }}</td>
                    <td>{{ mo.descripcion }}</td>
                    <td>{{ mo.horarioLaboral }}</td>
                    <td>{{ 'Bs. '~ mo.precioDia |number_format(2, ',','.') }}</td>
                    <td>
                        <a href="{{ path('manoobra_edit', { 'id': mo.id }) }}" class="btn btn-primary">Editar</a>
                        <a href="#" id="manoobradelete_{{mo.id}}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(manoObra) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}