<div class="box-body">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </h4>
        </div>
    {% endif %}
    <div class="form-group col-md-6">
        {{ form_label(form.descripcion, 'Descripción del Personal: ') }}
        {{ form_errors(form.descripcion) }}
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.horarioLaboral, "Horario Laboral: ") }} <br>
        {{ form_errors(form.horarioLaboral) }}
        {{ form_widget(form.horarioLaboral, { 'attr': {'class': 'form-control select'} }) }}
        <br><br>
    </div>
    
    <div class="form-group col-md-6">
        {{ form_label(form.precioDia, 'Precio por Dia: ') }}
        {{ form_errors(form.precioDia) }}
        {{ form_widget(form.precioDia, { 'attr': {'class': 'form-control decimal'} }) }}
    </div>


    <div class="form-group col-md-6">
        {{ form_label(form.status, "Activo: ") }} <br>
        {{ form_errors(form.status) }}
        {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
        <br><br>
    </div>
</div>
<div class="box-footer">
    <a href="{{ path('manoobra') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('manoobra_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>

<script>
     $(document).ready(function(){

        $(".dateTimePicker").datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es'
        });

        $(".decimal").keydown(function(e){
            var keynum           
            var keychar           
            var numcheck          
            

            if(window.event){
            /*/ IE*/            
                keynum = e.keyCode         
            }          
            else if(e.which){ 
            /*/ Netscape/Firefox/Opera/*/          
                keynum = e.which         
            }            
            
            if((keynum>=35 && keynum<=37) ||keynum==8||keynum==9||keynum==46||keynum==39) {
                     return true;         
            }          
            
            if(keynum==190||keynum==110||(keynum>=95&&keynum<=105)||(keynum>=48&&keynum<=57)){
                posicion = this.value.indexOf('.');               
                
                if(posicion==-1) {              
                    return true;           
                }else { 
                    if(!(keynum==190||keynum==110)){
                        var posicion = this.value.indexOf('.');
                        var decimal = 3;

                        if(this.value.length - posicion < decimal){
                            this.value = this.value.substr(0,this.value.length);  
                        }else {
                            this.value = this.value.substr(0,posicion+decimal-1);  
                        }

                        return true;
                    }else{
                        return false;
                    }
                }
            }else {
                return false;
            } 
        });   
    });
</script>