{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}

{% block pageTitle %} Mano de Obra {% endblock %}

{% block sonata_page_content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="col-xs-12">Listado de Mano de Obra</h3>

                        <div class="col-md-9">
                            {% include '@App/Comun/formBusquedaStandar.html.twig' %}
                        </div>

                        <div class="col-md-3">
                            <a  href="{{ path('manoobra_new') }}" class="btn btn-primary" style="float:right;">
                                <i class="fa fa-plus"></i> Nuevo Mano de Obra
                            </a>
                        </div>
                    </div>
                    <div class="box-body table-responsive" id="listado_manoobras">
                        
                    </div>
                    <!-- Loading (remove the following to stop the loading)-->
                    <div id="opaco_div" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- end loading -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script id="KnpPaginatorScript" type="text/javascript" src="{{ asset('bundles/app/libs/KnpPaginatorAjax.js')}}" DataLoaderFunctionName="CargarListadoManoObra" searchFields="manoObra.descripcion, manoObra.precioDia"></script>
    <script type="text/javascript" src=" {{ asset('bundles/app/libs/Listado_almacen.js')}} "></script>
    <script>
        $(document).ready(function(){
          $(document).on("click", "a[id^='manoobradelete_']", function (event) {
            event.preventDefault();
            var r = confirm("¿Desea Eliminar esta Mano de Obra?");
            if (r == false) return false; 
            var identificador = $(this).attr("id");
            var id = identificador.split("_");                
            $.ajax({
              method: "GET",
              url: Routing.generate('manoobra_delete', { id: id[1]}),
              dataType: "json",
            })
            .done(function(data ) {
              $("#rowDelete_"+id[1]).remove();
            });
          });
        });
    </script>
{% endblock %}