<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <meta name="keywords" content="Tu Portal Compra Venta, Tu Portal, Compra Venta, Automoviles, Electrodomesticos, Autopartes" />
    <meta name="description" content="Tienda Online para la compra y venta de Articulos">
    <meta name="author" content="TuPortalCompraVenta">
    <title>Iniciar Sesión </title>
    <link rel="stylesheet" href="{{asset('bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/sonataadmin/vendor/AdminLTE/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/sonataadmin/vendor/AdminLTE/css/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/sonataadmin/vendor/AdminLTE/css/AdminLTE.css')}}">
    <style>
      html, body{
        background: #d2d6de;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-12" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  min-width:360px; max-width:500px;">
        <img src="{{asset('img/logo.png')}}" alt="image" class="img-responsive" style="margin:0 auto; width:100%; height:100px; background:darkslategrey; ">
        <div class="panel">
          <div class="panel-heading">
            <h2 class="text-center">Inicio de Sesión</h2>
          </div>

          <div class="panel-body">
            {% if error %}
              <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

              <div class="form-group col-xs-12">
                <label for="username" class="control-label"> {{ 'security.login.username'|trans({}, 'FOSUserBundle') }}: </label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required"/>
              </div>

              <div class="form-group col-xs-12">
                <label for="password" class="control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}: </label>
                <input type="password" class="form-control" id="password" name="_password" required="required"/>

              </div>

              <div class="form-group col-xs-12">
                <label for="remember_me">
                  <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
                <input type="submit" id="_submit" name="_submit" class="btn btn-primary pull-right" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
