{% if proveedores|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th> #          </th>
                <th> Rif        </th>
                <th> Razon Social</th>
                <th> Direccion  </th>
                <th> Tlf Princ. </th>               
                <th> Email      </th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td> {{loop.index}}</td>
                    <td> {{ proveedor.rif }}</td>
                    <td> {{ proveedor.razon|length >25 ? proveedor.razon|slice(0, 25) ~ '...' : proveedor.razon }} </td>
                    <td> {{ proveedor.direccion|length >25 ? proveedor.direccion|slice(0, 25) ~ '...' : proveedor.direccion }} </td>
                    <td> {{ proveedor.tlf }}</td>
                    <td> {{ proveedor.email|length >20 ? proveedor.email|slice(0, 20) ~ '...' : proveedor.email }} </td>
                    <td>
                        <a href="{{ path('proveedores_edit', { 'id': proveedor.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(proveedores) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}