<div class="box-body">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </h4>
        </div>
    {% endif %}
    <div class="form-group col-md-6">
        {{ form_label(form.rif, 'Rif: ') }}
        {{ form_errors(form.rif) }}
        {{ form_widget(form.rif, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.razon, 'Razon Social: ') }}
        {{ form_errors(form.razon) }}
        {{ form_widget(form.razon, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.direccion, 'Direccion: ') }}
        {{ form_errors(form.direccion) }}
        {{ form_widget(form.direccion, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.tlf, 'Teléfono Principal: ') }}
        {{ form_errors(form.tlf) }}
        {{ form_widget(form.tlf, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.tlfC, 'Teléfono de Contacto: ') }}
        {{ form_errors(form.tlfC) }}
        {{ form_widget(form.tlfC, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.email, 'Email de Contacto: ') }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-12">
        {{ form_label(form.paginaWeb, 'Pagina Web: ') }}
        {{ form_errors(form.paginaWeb) }}
        {{ form_widget(form.paginaWeb, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6 hidden ">
        {{ form_label(form.status, 'Activo: ') }}
        <br>
        {{ form_errors(form.status) }}
        {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="box-footer">
    <a href="{{ path('proveedores') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('proveedores_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>   