{% if unidades|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Nombre de Unidad </th>
                <th> Abreviatura </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for unidad in unidades %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ unidad.nombre }}</td>
                    <td>{{ unidad.abv }}</td>
                    <td>
                        <a href="{{ path('unidades_edit', { 'id': unidad.id }) }}" class="btn btn-primary"> Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(unidades) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}