<div class="box-body">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </h4>
        </div>
    {% endif %}
    <div class="form-group col-md-6">
        {{ form_label(form.nombre, 'Nombre de Unidad: ') }}
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.abv, 'Abreviatura: ') }}
        {{ form_errors(form.abv) }}
        {{ form_widget(form.abv, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="box-footer">
    <a href="{{ path('unidades') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('unidades_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>   