{% if clientes|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> #          </th>
                <th> Rif        </th>
                <th> Razon Social </th>
                <th> Direccion  </th>
                <th> Teléfono   </th>
                <th> Correo     </th>
                <th> Acciones   </th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td> {{ loop.index }}</td>
                    <td> {{ cliente.rif   }}</td>
                    <td> {{ cliente.razon|length >25 ? cliente.razon|slice(0, 25) ~ '...' : cliente.razon }} </td>
                    <td> {{ cliente.direccion|length >25 ? cliente.direccion|slice(0, 25) ~ '...' : cliente.direccion }} </td>
                    <td> {{ cliente.tlf }}</td>
                    <td> {{ cliente.email|length >20 ? cliente.email|slice(0, 20) ~ '...' : cliente.email }} </td>
                    <td>
                        <a href="{{ path('clientes_edit', { 'id': cliente.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(clientes) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}