{% if almacenes|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> #      </th>
                <th> Nombre </th>
                <th> Acciones </th>
            </tr>
        </thead>
        <tbody>
            {% for almacen in almacenes %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ almacen.nombre }}</td>
                    <td>
                        <a href="{{ path('almacen_edit', { 'id': almacen.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(almacenes) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}