{% if registros|length > 0 %}
	{% if accion == 3 %}
		{% for registro in registros %}

			<tr id="row_{{registro.id}}_{{registro.tipoActividad}}">
				<td> {{ loop.index }}</td>
				<td>
						{{ registro.descripcion}}
						{{ render(controller("AppBundle:ProyectoApu:preciosMaterial",{'id_material':registro.idActividad} )) }}
				</td>
				<td width="150"> 
					<div class="input-group margin col-xs-10">
		                <input class="form-control numeros" type="integer" value={{registro.cantidad}} id="cantDetailApuValor_{{registro.id}}">
		                    <span class="input-group-btn">
		                    <a class="btn btn-info btn-flat" id="cantDetailApu_{{registro.id}}">
		                    	<i class="fa fa-check"></i>
		                    </a>
		                </span>
		            </div>
				</td>
				<td width="150"> 
					<div class="input-group margin col-xs-10">
	        <input class="form-control decimal" type="integer" value={{registro.CostoUnidad | number_format(2, '.','')}} class="decimals" id="unitario_{{registro.id}}">
	            <span class="input-group-btn">
	            <a class="btn btn-info btn-flat" id="sendUnitario_{{registro.id}}_{{registro.idActividad}}">
	            	<i class="fa fa-check"></i>
	            </a>
	        </span>
	    </div>
				</td>
				<td id ="totalDetail_{{registro.id}}"> {{ (registro.cantidad * registro.CostoUnidad * registro.dias) | number_format(2, '.','') }} Bs.</td>
				<input type="hidden" value="1" id="diasDetailApuValor_{{registro.id}}">
				<td>
					<a id="deleteApu_{{registro.id}}_{{registro.tipoActividad}}" class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		{% endfor %}
	{% else %}
		{% for registro in registros if registro.tipoActividad == accion %}
			<tr id="row_{{registro.id}}_{{registro.tipoActividad}}">
				<td> {{ loop.index }}</td>
				<td> {{ registro.descripcion}}</td>
				{% if accion == 1 %}
					<td width="150">
						<div id="tipoTarea_{{registro.id}}_div">
							<select id="tipoTarea_{{registro.id}}" class="form-control">
								{% if registro.tipoTarea == 0 %}
									<option value = 0 selected > Sin Especificar	</option>
									<option value = 1 > Planta		</option>
									<option value = 2 > Taller		</option>
								{% elseif registro.tipoTarea == 1  %}
									<option value = 0 > Sin Especificar	</option>
									<option value = 1 selected >Planta	</option>
									<option value = 2> Taller			</option>
								{% elseif registro.tipoTarea == 2  %}
									<option value = 0> Sin Especificar	</option>
									<option value = 1> Planta			</option>
									<option value = 2 selected >Taller	</option>									
								{% endif %}
							</select>
						</div>
					</td>
				{% endif %}
				<td width="150"> 
					<div class="input-group margin col-xs-10">
		                <input class="form-control numeros" type="integer" value={{registro.cantidad}} id="cantDetailApuValor_{{registro.id}}">
		                    <span class="input-group-btn">
		                    <a class="btn btn-info btn-flat" id="cantDetailApu_{{registro.id}}">
		                    	<i class="fa fa-check"></i>
		                    </a>
		                </span>
		            </div>
				</td>
				<td width="150"> 
					<div class="input-group margin col-xs-10">
		                <input class="form-control numeros" type="integer" value={{registro.dias}} id="diasDetailApuValor_{{registro.id}}">
		                    <span class="input-group-btn">
		                    <a class="btn btn-info btn-flat" id="diasDetailApu_{{registro.id}}">
		                    	<i class="fa fa-check"></i>
		                    </a>
		                </span>
		            </div>
				</td>
				<td id="unitario_{{registro.id}}"> {{ registro.CostoUnidad | number_format(2, '.','') }} </td>
				{% set total_jjap = (registro.cantidad * registro.CostoUnidad * registro.dias ) %}
				<td id ="totalDetail_{{registro.id}}"> {{  total_jjap | number_format(2, '.','') }} Bs. </td>
				<td>
					<a id="deleteApu_{{registro.id}}_{{registro.tipoActividad}}" class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
{% else %}
	<tr>
		{% if accion == 1 %}
			<td colspan="8" class="text-center">
		{% else %}
		    <td colspan="7" class="text-center">
		{% endif %}
			Sin datos para mostrar
		</td>
	</tr>
{% endif %}

