  <script src="{{ asset('bundles/app/libs/jquery.min.js')}}"></script>
  <script src="{{ asset('bundles/app/libs/highcharts.js')}}"></script>
  <script src="{{ asset('bundles/app/libs/exporting.js')}}"></script>
  <script type="text/javascript">
      {{ chart(chart) }}
  </script>

  <div id="columnchart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>