{% if proyectos|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Nº Solicitud </th>
                <th> Nombre de Proyecto</th>
                <th> Cliente </th>
                <th> Fecha Inicio </th>
                <th> Fecha Fin  </th>
                {#<th> Asignado </th>#}
                <th> Estatus  </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td><strong> {{ proyecto.rq }} </strong></td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.cliente }}</td>
                    <td>{{ proyecto.fechaInicio | date('Y-m-d') }}</td>
                    <td>{{ proyecto.fechaFin | date('Y-m-d') }}</td>
                    {#<td>
                        {% for asignado in proyecto.asignado %}
                            {% if loop.index > 1 %}
                                -
                            {% endif %}
                            {{ asignado  }}
                        {% endfor %}
                    </td>#}
                    <td>
                      <span style="background: #{{proyecto.statusProyecto.color}};" class="label"   >
                        {{proyecto.statusProyecto}}
                      </span>   
                    </td>
                    <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info">Opciones</button>
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li>
                              <a href="{{ path('proyectoapu_show', {'slug': proyecto.id}) }}" >Ver Items</a>
                            </li>
                            <li>
                              <a href="{{ path('proyectos_edit', { 'id': proyecto.id }) }}" >Editar</a>
                            </li>
                            <li>
                                <a href="{{ path('reporte_proyectoallapu', {'proyecto_id':proyecto.id}) }}" target="_blank" >Visualizar Apu</a>
                            </li>
                            {% if proyecto.statusProyecto == 'EN PROCESO' or  proyecto.statusProyecto == 'APROBADAS' %}
                              <li class="divider"></li>
                              <li>
                                <a href="{{ path('proyecto_gestion', { 'proyecto_id': proyecto.id }) }}">Gestionar</a>
                              </li>
                            {% endif %}
                          </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(proyectos) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}