<div class="box-body">
  {% if app.session.flashBag.has('success') %}
      <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>
              {% for msg in app.session.flashBag.get('success') %}
                  {{ msg }}
              {% endfor %}
          </h4>
      </div>
  {% endif %}

  <div class="form-group col-md-6">
      {{ form_label(form.rq, 'Número de Solicitud (RQ): ') }}
      {{ form_errors(form.rq) }}
      {{ form_widget(form.rq, { 'attr': {'class': 'form-control'} }) }}
  </div>
  
  <div class="form-group col-md-6">
      {{ form_label(form.descripcion, 'Nombre del Proyecto: ') }}
      {{ form_errors(form.descripcion) }}
      {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
  </div>
  
  <div class="form-group col-md-6">
      {{ form_label(form.cliente, 'Cliente: ') }}
      {{ form_errors(form.cliente) }}
      {{ form_widget(form.cliente, { 'attr': {'class': 'form-control'} }) }}
  </div>
  
  <div class="form-group col-md-6" id= "requisitor">
      {{ form_label(form.requisitor, 'Requisitor: ') }}
      {{ form_errors(form.requisitor) }}
      {{ form_widget(form.requisitor, { 'attr': {'class': 'form-control'} }) }}
  </div>
  
  <div class="form-group col-md-6" id="tlfRequisitor">
      {{ form_label(form.requisitorTlf, 'Telefono Requisitor: ') }}
      {{ form_errors(form.requisitorTlf) }}
      {{ form_widget(form.requisitorTlf, { 'attr': {'class': 'form-control'} }) }}
  </div>
 
  <div class="form-group col-md-6">
      {{ form_label(form.statusProyecto, 'Estatus: ') }}
      {{ form_errors(form.statusProyecto) }}
      {{ form_widget(form.statusProyecto, { 'attr': {'class': 'form-control select2'} }) }}
      <br><br>
  </div>
  
  <div class="form-group col-md-6">
      {{ form_label(form.anticipo, '% Anticipo:') }}
      {{ form_errors(form.anticipo) }}
      {{ form_widget(form.anticipo, { 'attr': {'class': 'form-control decimal'} }) }}
  </div>

  <div class="form-group col-md-6">
      {{ form_label(form.vigencia, 'Vigencia: (Período de Vigencia del Presupuesto) ') }}
      {{ form_errors(form.vigencia) }}
      {{ form_widget(form.vigencia, { 'attr': {'class': 'form-control'} }) }}
      <br><br>
  </div>

  <div class="form-group col-md-6">
      {{ form_label(form.fechaInicio, 'Fecha Inicio: ') }}
      {{ form_errors(form.fechaInicio) }}
      {{ form_widget(form.fechaInicio, { 'attr': {'class': 'form-control dateTimePicker'} }) }}
  </div>
  
  <div class="form-group col-md-6">
      {{ form_label(form.fechaFin, 'Fecha Fin: ') }}
      {{ form_errors(form.fechaFin) }}
      {{ form_widget(form.fechaFin, { 'attr': {'class': 'form-control dateTimePicker'} }) }}
  </div>

  <div class="form-group col-md-6">
      {{ form_label(form.fechaEnvio, 'Fecha Envio: (Fecha limite de enviar el presupuesto)') }}
      {{ form_errors(form.fechaEnvio) }}
      {{ form_widget(form.fechaEnvio, { 'attr': {'class': 'form-control dateTimePicker'} }) }}
  </div>

  <div class="form-group col-md-6">
      {{ form_label(form.oc, 'Orden de Compra:') }} <br>
      {{ form_errors(form.oc) }}
      {% if entity.id != "" %}
        {{ form_widget(form.oc, { 'attr': {'class': 'form-control'} }) }}
      {% else %}
        {{ form_widget(form.oc, { 'attr': {'class': 'form-control', 'disabled': 'disabled'} }) }}
      {% endif %}
  </div>
  
  <div class="form-group col-md-6">
    {{ form_label(form.diasPago, 'Pago a:') }}
    {{ form_widget(form.diasPago, { 'attr': {'class': 'form-control numeros'} }) }}
  </div>

  <div class="form-group col-md-6" style="height: 59px !important;">
    {{ form_label(form.condiPago, 'Condición de Pago:') }}
    {{ form_widget(form.condiPago, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group col-md-6 hidden ">
      {{ form_label(form.asignado, 'Asignar A:') }}
      {{ form_errors(form.asignado) }}
      {{ form_widget(form.asignado, { 'attr': {'class': 'form-control'} }) }}
  </div>

  {% if entity.id != "" %}
      <div class="form-group col-md-6 hidden ">
          {{ form_label(form.creadoPor, 'Creado Por:') }}
          {{ form_errors(form.creadoPor) }}
          {{ form_widget(form.creadoPor, { 'attr': {'class': 'form-control', 'disabled':'disabled'}, }) }}
      </div>
  {% endif %}

  <div class="form-group col-md-12">
      {{ form_label(form.observacion, 'Observación:') }}
      {{ form_errors(form.observacion) }}
      {{ form_widget(form.observacion, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="col-md-12 well">  
      <fieldset >
          <legend>Totales:</legend>
          <div class="form-group col-md-3 col-xs-6">
              {{ form_label(form.prestaciones, '% Prestaciones:') }}
              {{ form_errors(form.prestaciones) }}
              {{ form_widget(form.prestaciones, { 'attr': {'class': 'form-control decimal'} }) }}
          </div>

          <div class="form-group col-md-3 col-xs-6">
              {{ form_label(form.gastoAdmin, '% Gasto Administrativo:') }}
              {{ form_errors(form.gastoAdmin) }}
              {{ form_widget(form.gastoAdmin, { 'attr': {'class': 'form-control decimal'} }) }}
          </div>

          <div class="form-group col-md-3 col-xs-6">
              {{ form_label(form.utilidad, '% Utilidad:') }}
              {{ form_errors(form.utilidad) }}
              {{ form_widget(form.utilidad, { 'attr': {'class': 'form-control decimal'} }) }}
          </div>

          <div class="form-group col-md-3 col-xs-6">
              {{ form_label(form.comida, 'Costo Comida (Bs. c/u):') }}
              {{ form_errors(form.comida) }}
              {{ form_widget(form.comida, { 'attr': {'class': 'form-control decimal'} }) }}
          </div>
      </fieldset>
  </div>
  {% if entity.id != "" %}
    <div class="col-md-12 well">
      <h4><i class="icon fa fa-money"></i> Balance </h4>

      {% set total = 0 %}        {% set mat = 0 %}                {% set maq = 0 %}
      {% set man = 0 %}          {% set comida = 0 %}
      
      {% if suma | length > 0 %}
        {% for sum in suma %}       
          {% if sum['tipoActividad'] == 3 %}
            {% set mat = mat + sum['costo'] %}
            {% set total = total + sum['costo']%}
          {% endif %}

          {% if sum['tipoActividad'] == 2 %}
            {% set maq = maq + sum['costo'] %}
            {% set total = total + sum['costo']%}
          {% endif %}

          {% if sum['tipoActividad'] == 1 %}
            {% set man = man + sum['costo'] %}
            {% set comida = (sum['comida'] * entity.comida) %}
            {% set total = total + sum['costo']%}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% set prestaciones = man * entity.prestaciones / 100 %}               
      {% set costodirecto = mat + maq + prestaciones + man + comida %}
      {% set subtotal2 = ((costodirecto * entity.gastoAdmin /100) + costodirecto )   %}
      {% set utilidades = ( subtotal2 * entity.utilidad /100)  %}

      <div class="col-md-3 col-xs-6">
        <strong>Materiales: </strong>       Bs. {{ mat |number_format(2, ',','.')}}
      </div>

      <div class="col-md-3 col-xs-6">
        <strong>Maquinarias:  </strong>     Bs.  {{ maq |number_format(2, ',','.')}}
      </div>

      <div class="col-md-3 col-xs-6">
        <strong>Mano de Obra: </strong>     Bs. {{ man |number_format(2, ',','.')}}
      </div>

      <div class="col-md-3 col-xs-6">
        <strong>Prestaciones:</strong>      Bs. {{ prestaciones |number_format(2, ',','.')}}
      </div>

      <div class="col-md-3 col-xs-6">
        <strong>MaObra + Prest :</strong>   Bs. {{ (prestaciones + man) |number_format(2, ',','.') }}
      </div> 

      <div class="col-md-3 col-xs-6">
        <strong>Comidas: </strong>                   Bs. {{ comida |number_format(2, ',','.') }}
      </div>

      <div class="col-md-3 col-xs-6">
        <strong>Costos Directos:</strong>            Bs. {{ costodirecto |number_format(2, ',','.')}}
      </div>

      <div class="col-md-3 col-xs-6">
        <strong>Gastos Adm.:</strong>                Bs. {{ (costodirecto * entity.gastoAdmin / 100) |number_format(2, ',','.')}}
      </div>

      <div class="col-md-3 col-xs-6">
        <strong>Subtotal:</strong>                   Bs. {{ subtotal2 |number_format(2, ',','.')}}
      </div>

      <div class="col-md-3 col-xs-6">
        <strong>Utilidades:</strong>                 Bs. {{ utilidades |number_format(2, ',','.') }} 
      </div>

      <div class="col-md-12">
        <h4 class="text-right">
          <strong>Precio Total:</strong> <br>      Bs. {{ (utilidades + subtotal2)  |number_format(2, ',','.')}}
        </h4>
      </div>
    </div>
  {% endif %}

</div>


<div class="box-footer" style="display:block;">
  <a href="{{ path('proyectos') }}" class="btn btn-default">Volver a la lista</a>
  <a href="{{ path('proyectos_new') }}" class="btn btn-success">Crear Nuevo</a>
  {% if form.vars.value.id != "" %}
    <div style="left: 25%; position:relative; display: inline-block">
      <a href="{{ path('proyectoapu_show', {'slug': form.vars.value.id}) }}" class="btn btn-primary">Ver Items</a>
      <a href="{{ path('reporte_resumenApu', {'id': entity.id}) }}" target="_blank" class="btn btn-warning">Resumen por Items</a>
    </div>
  {% endif %}

  <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>

<script>
  $(document).ready(function(){

      $(".dateTimePicker").datetimepicker({
          format: 'DD/MM/YYYY',
          locale: 'es'
      });

      $('select#appbundle_proyectos_cliente').change(function(e){
        id = $(this).val();
        $.ajax({
          method: "GET",
          url: Routing.generate('requisitoresClientes', { id_cliente: id}),
          dataType: "json",
        })
        .done(function(data ) {
          $('#requisitor').html(data.content);
        });
      });


      $(document).on("change", "select[id='appbundle_proyectos_requisitor']", function (event) {
        id = $(this).val();
        $.ajax({
          method: "GET",
          url: Routing.generate('phoneRequisitor', { id_requi: id}),
          dataType: "json",
        })
        .done(function(data ) {
          $('#appbundle_proyectos_requisitorTlf').val(data.content);
        });
          
      });

      $(".decimal").keydown(function(e){
          var keynum           
          var keychar           
          var numcheck          
          

          if(window.event){
          /*/ IE*/            
              keynum = e.keyCode         
          }          
          else if(e.which){ 
          /*/ Netscape/Firefox/Opera/*/          
              keynum = e.which         
          }            
          
          if((keynum>=35 && keynum<=37) ||keynum==8||keynum==9||keynum==46||keynum==39) {
                   return true;         
          }          
          
          if(keynum==190||keynum==110||(keynum>=95&&keynum<=105)||(keynum>=48&&keynum<=57)){
              posicion = this.value.indexOf('.');               
              
              if(posicion==-1) {              
                  return true;           
              }else { 
                  if(!(keynum==190||keynum==110)){
                      var posicion = this.value.indexOf('.');
                      var decimal = 3;

                      if(this.value.length - posicion < decimal){
                          this.value = this.value.substr(0,this.value.length);  
                      }else {
                          this.value = this.value.substr(0,posicion+decimal-1);  
                      }

                      return true;
                  }else{
                      return false;
                  }
              }
          }else {
              return false;
          } 
      });

      $(document).on('keypress', '.numeros', function(e){
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
          return true;

        return /\d/.test(String.fromCharCode(keynum));
      })
  });
</script>