{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}
{% block pageTitle %} Gestion de Proyectos {% endblock %}

{% block sonata_page_content %}
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="col-xs-12"> <b> Consumo de Proyecto: </b> {{proyecto.descripcion}}  </h3>
            <h4 class="col-xs-12"> <b> Nro de Solicitud: </b> {{proyecto.rq}}  </h4>
            <div class="col-xs-12" style="margin-bottom: 30px; "> 
              <a href="{{ path('proyecto_graficos', {'proyecto_id': proyecto.id}) }}" class="btn btn-warning pull-right">
                <i class="fa fa-bars"></i>  Ver Gráficos
              </a>
            </div>
            <div class="box-body">
              <div class="col-xs-12 col-sm-6" style="max-height: 500px; overflow: scroll; ">
                <!-- Custom Tabs (Pulled to the right) -->
                <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-th"></i> Estimado del Proyecto</li>
                    <li class=""><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">Mano de Obra</a></li>
                    <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">Maquinarias</a></li>
                    <li class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="true">Materiales</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane" id="tab_1-1">
                      <div class="row">
                        <table class="table table-striped table-responsive">
                          <thead>
                            <tr>
                              <th>#</th> 
                              <th>Descripción</th>
                              <th> Nº Jornadas    </th>
                              <th> Precio x Día </th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody id="table_manoObra">
                            {% set ttl_mo = 0 %}
                            {% for mo in manoObra %}
                              <tr>
                                <td> {{loop.index}}</td>
                                <td> {{ mo.descrip   }} </td>
                                <td> {{ mo.cantidad}}    </td>
                                <td> Bs. {{ mo.precioDia |number_format(2, ',','.') }} </td>
                                <td> Bs. {{ (mo.cantidad * mo.precioDia) |number_format(2, ',','.') }}    </td>
                                {% set ttl_mo = ttl_mo + (mo.cantidad * mo.precioDia ) %}
                              </tr>   
                            {% endfor %}
                            <tr style="font-weight: bold;">
                              <td  colspan="4" style="text-align:right"> Total: </td>
                              <td style="text-align:left"> Bs. {{ ttl_mo | number_format(2,',','.') }} </td>
                            </tr>
                          </tbody>
                        </table>                                  
                      </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="tab_2-2">
                      <div class="row">
                        <table class="table table-striped table-responsive">
                          <thead>
                              <tr>
                                  <th> #</th> 
                                  <th> Descripción</th>
                                  <th> Nº Jornadas    </th>
                                  <th> Precio x Día </th>
                                  <th> Total</th>
                              </tr>
                          </thead>
                          <tbody id="table_maquinaria">
                            {% set ttl_maq = 0 %}
                            {% for maq in maquinarias %}
                              <tr>
                                <td> {{loop.index }}</td>
                                <td> {{ maq.descrip   }}    </td>
                                <td> {{ maq.cantidad }}    </td>
                                <td> Bs. {{ maq.precioDia |number_format(2, ',','.') }} </td>
                                <td> Bs. {{ (maq.cantidad * maq.precioDia ) |number_format(2, ',','.') }}    </td>
                                {% set ttl_maq = ttl_maq + (maq.cantidad * maq.precioDia ) %}
                              </tr>   
                            {% endfor %}
                            <tr style="font-weight: bold;">
                              <td  colspan="4" style="text-align:right"> Total: </td>
                              <td style="text-align:left"> Bs. {{ ttl_maq | number_format(2,',','.') }} </td>
                            </tr>
                          </tbody>
                          </tbody>
                        </table>                                  
                      </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane active" id="tab_3-2">
                      <div class="row">
                        <table class="table table-striped table-responsive">
                          <thead>
                            <tr>
                              <th>#</th> 
                              <th>Descripción</th>
                              <th>Unidad</th>
                              <th>Cantidad</th>
                              <th>Precio Unit.</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody id="table_materiales">
                            {% set ttl_mat = 0 %}
                            {% for cat in categorias %}
                              <tr>
                                <td colspan="6" style="text-align:center; background-color:#e0e0e0">{{ cat.nombre }}</td>
                              </tr>
                              {% set total_cat = 0 %}
                            
                              {% for mat in materiales if mat.categoria == cat.id %}
                                <tr>
                                  <td> {{ loop.index }}</td>
                                  <td> {{ mat.nombre   }}    </td>
                                  <td> {{ mat.unidad   }}      </td>
                                  <td> {{ mat.cantidad }}    </td>
                                  <td> Bs. {{ mat.precioVenta |number_format(2, ',','.') }} </td>
                                  <td> Bs. {{ (mat.precioVenta * mat.cantidad) |number_format(2, ',','.') }}    </td>
                                  {% set total_cat = total_cat + (mat.precioVenta * mat.cantidad) %}
                                </tr>   
                              {% endfor %}  
                              {% if total_cat >= 0 %}
                                <tr style="text-align:right; font-weight: bold;">
                                  <td  colspan="5"> Total {{cat.nombre}}: </td>
                                  <td> Bs. {{ total_cat | number_format(2,',','.') }} </td>
                                  {% set ttl_mat = ttl_mat + total_cat %}
                                </tr>
                              {% endif %}
                            {% endfor %}
                            <tr style="text-align:right; font-weight: bold;">
                              <td  colspan="5"> Total Global: </td>
                              <td > Bs. {{ ttl_mat | number_format(2,',','.') }} </td>
                            </tr>
                          </tbody>
                        </table>                                  
                      </div>
                    </div><!-- /.tab-pane -->
                  </div><!-- /.tab-content -->
                </div><!-- nav-tabs-custom -->
              </div>

              <div class="col-xs-12 col-sm-6" style="max-height: 500px; overflow: scroll; ">
                <!-- Custom Tabs (Pulled to the right) -->
                <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-th"></i> Anexos del Proyecto</li>
                    <li class=""><a href="#tab_1-1-2" data-toggle="tab" aria-expanded="false">Mano de Obra</a></li>
                    <li class=""><a href="#tab_2-2-2" data-toggle="tab" aria-expanded="false">Maquinarias</a></li>
                    <li class="active"><a href="#tab_3-2-2" data-toggle="tab" aria-expanded="true">Materiales</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane" id="tab_1-1-2">
                      <div class="row">
                        <div class="col-xs-12">
                          <a id="nuevo_1"  class="btn btn-info pull-right">Nuevo Mano de Obra</a>
                        </div>
                        <table class="table table-striped table-responsive">
                          <thead>
                            <tr>
                              <th>#</th> 
                              <th>Descripción</th>
                              <th>Ubicación </th>
                              <th>Cantidad</th>
                              <th>Días</th>
                              <th>Costo Unit.</th>
                              <th>Total</th>
                              <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tbody id="table_manoObra2">
                            {{ render(controller("AppBundle:Proyectos:detalleApuExtra",{'accion':1, 'proyecto':proyecto.id} )) }}
                          </tbody>
                        </table>                                  
                      </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="tab_2-2-2">
                      <div class="row">
                        <div class="col-xs-12">
                          <a id="nuevo_2" class="btn btn-info pull-right">Nueva Maquinaria</a>
                        </div>                      
                        <table class="table table-striped table-responsive">
                          <thead>
                              <tr>
                                <th>#</th> 
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Días</th>
                                <th>Costo Unit.</th>
                                <th>Total</th>
                                <th>Eliminar</th>
                              </tr>
                          </thead>
                          <tbody id="table_maquinaria2">
                            {{ render(controller("AppBundle:Proyectos:detalleApuExtra",{'accion':2, 'proyecto':proyecto.id}))}}
                          </tbody>
                        </table>                                  
                      </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane active" id="tab_3-2-2">
                      <div class="row">
                        <div class="col-xs-12">
                          <a  id="nuevo_3" class="btn btn-info pull-right">Nuevo Material</a>
                        </div>                      
                        <table class="table table-striped table-responsive">
                          <thead>
                            <tr>
                              <th>#</th> 
                              <th>Descripción</th>
                              <th>Cantidad</th>
                              <th>Costo Unit.</th>
                              <th>Total</th>
                              <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tbody id="table_materiales2">
                            {{ render(controller("AppBundle:Proyectos:detalleApuExtra",{'accion':3, 'proyecto':proyecto.id}))}}
                          </tbody>
                        </table>                                  
                      </div>
                    </div><!-- /.tab-pane -->
                  </div><!-- /.tab-content -->
                </div><!-- nav-tabs-custom -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="nuevo" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id ="titleModal">Text</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div id="form_nuevo" class="modal-body" style="height: 300px;">

        </div>    
                   
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $(document).on('click', 'a[id^="nuevo_"]', function(e){
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");
        var titleModal = "";
        var formAct = "";

        if ( id[1] == '1'){
          titleModal = "Anexo de Mano de Obra";
          formAct = 'manoObra';
        }
        if ( id[1] == '2'){
          titleModal = "Anexo de Maquinaria";
          formAct = 'maquinaria';
        }
        if ( id[1] == '3'){
          titleModal = "Anexo de Material";
          formAct = 'material';
        }

        $("#titleModal").text(titleModal);
        $.ajax({
            method: "GET",
            url: Routing.generate('formanexo', { tipo_actividad: formAct}),
            dataType: "json",
        })
        .done(function(data ) {
            $("#form_nuevo").empty();
            $("#form_nuevo").html(data.content);
            $("#nuevo").modal('show');
        });   
      });

      $(document).on("change", "#form_materiales", function (event) {
        $("#form_costo").val($("#form_costoMateriales")[0][event.target.selectedIndex].text);
      });

      $(document).on("change", "#form_manoObra", function (event) {
        $("#form_costo").val($("#form_costoManoObra")[0][event.target.selectedIndex].text);
      });

      $(document).on("change", "#form_maquinaria", function (event) {
        $("#form_costo").val($("#form_costoMaquinaria")[0][event.target.selectedIndex].text);
      });

      $(document).on("click", "#add_detailApu", function (event) {
        event.preventDefault();
        var tipo = 0;
        var actividad = 0;
        var aux = "";
        var canti = 1;
        var costo = 0;
        var dia = $("#form_dia").val();

        if ( $("#form_manoObra").val()!=null) {
            tipo = 1;
            actividad = $("#form_manoObra").val().toString();
            descripcion = "nada"
            descripcionSend = descripcion;
        };
        if ($("#form_maquinaria").val()!= null ) {
            tipo = 2;
            actividad = $("#form_maquinaria").val().toString();
            descripcion = "nada"
            descripcionSend = descripcion;
        };

        if ($("#form_materiales").val()!= null) {
            tipo = 3;
            actividad = $("#form_materiales").val().toString();
            $costo = 0
            descripcion = "nada"
            descripcionSend = descripcion;
        };

        $.ajax({
          method: "GET",
          url: Routing.generate('proyecto_createAddAnexo', {proyecto: {{proyecto.id}}, tipo: tipo, actividad: actividad, cantidad: canti, costo: costo, dias: dia, descrip: descripcionSend}),
          dataType: "json",
        })
        .done(function(data ) {
          if (tipo == 1)
              $("#table_manoObra2").html(data.content);
          if (tipo == 2)
              $("#table_maquinaria2").html(data.content);
          if (tipo == 3)
              $("#table_materiales2").html(data.content);

          $("#form_nuevo").html('');
          $("#nuevo").modal('hide');
        });
        $("#form_nuevo").html('');
      });

      $(document).on("keydown", ".decimal", function(e) {
        var keynum
        var keychar
        var numcheck


        if(window.event){
        /*/ IE*/
            keynum = e.keyCode
        }
        else if(e.which){
        /*/ Netscape/Firefox/Opera/*/
            keynum = e.which
        }

        if((keynum>=35 && keynum<=37) ||keynum==8||keynum==9||keynum==46||keynum==39) {
          return true;
        }

        if(keynum==190||keynum==110||(keynum>=95&&keynum<=105)||(keynum>=48&&keynum<=57)){
            posicion = this.value.indexOf('.');

            if(posicion==-1) {
                return true;
            }else {
                if(!(keynum==190||keynum==110)){
                    var posicion = this.value.indexOf('.');
                    var decimal = 3;
                    if(this.value.length - posicion < decimal){
                        this.value = this.value.substr(0,this.value.length);
                    }else {
                        this.value = this.value.substr(0,posicion+decimal-1);
                    }
                    return true;
                }else{
                  return false;
                }
            }
        }else {
          return false;
        }
      });

      $(document).on('keypress', '.numeros', function(e){
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
          return true;
        
        return /\d/.test(String.fromCharCode(keynum));
      })


      $(document).on("click", "a[id^='cantDetailApu_']", function (event) {
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");
        var cantidad= $('#cantDetailApuValor_'+ id[1]).val();

        $.ajax({
          method: "GET",
          url: Routing.generate('cantDetailApuExtra', { id: id[1], canti: cantidad}),
          dataType: "json",
        })
        .done(function(data ) {
          var unitario = parseFloat($('#unitario_'+id[1]).val());
          if (isNaN(parseFloat(unitario)) == true)
              unitario = parseFloat($('#unitario_'+id[1]).html());
          var dias =     $('#diasDetailApuValor_'+id[1]).val();
          var total = parseFloat(parseFloat(cantidad) * parseInt(dias) * unitario );
          $('#totalDetail_'+id[1]).html( total.formatMoney(2, '.', ''));
          $("#"+identificador).removeClass('btn-info');
          $("#"+identificador).addClass('btn-success');
        });
      });

      $(document).on("click", "a[id^='diasDetailApu_']", function (event) {

        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");
        var dias= $('#diasDetailApuValor_'+ id[1]).val();
        $.ajax({
          method: "GET",
          url: Routing.generate('diasDetailApuExtra', { id: id[1], dias: dias}),
          dataType: "json",
        })
        .done(function(data ) {
          var unitario = findAndReplace(findAndReplace($('#unitario_'+id[1]).html(), ',', ''),',','.');
          if (isNaN(parseFloat(unitario)) == true) {
            unitario = findAndReplace(findAndReplace($('#unitario_'+id[1]).val(), ',', ''),',','.');
          }
          var cantidad = $('#cantDetailApuValor_'+id[1]).val();
          var total = parseFloat(parseFloat(cantidad) * parseInt(dias) * parseFloat(unitario));
          $('#totalDetail_'+id[1]).html( total.formatMoney(2, '.', ''));
          $("#"+identificador).removeClass('btn-info');
          $("#"+identificador).addClass('btn-success');
        });
      });

      $(document).on("change", "select[id^='tipoTarea_']", function (event) {
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");
        var valor = $("#"+identificador).val();
        $.ajax({
          method: "GET",
          url: Routing.generate('ubicacionDetailApuExtra', { id: id[1], valor: valor}),
          dataType: "json",
        })
        .done(function(data ) {
          $("#"+identificador+"_div").addClass('btn');
          $("#"+identificador+"_div").addClass('has-success');
        });
      });

      function findAndReplace(string, target, replacement) {
        var i = 0, length = string.length;
         
        for (i; i < length; i++) {
          string = string.replace(target, replacement);
        }
        return string;             
      }

      $(document).on("click", "a[id^='sendUnitario_']", function (event) {
        event.preventDefault();
        var identificador = $(this).attr("id");
        var id = identificador.split("_");
        var cant= $('#cantDetailApuValor_'+ id[1]).val();
        var precio= parseFloat( $('#unitario_'+ id[1]).val());
        var total = parseFloat(parseFloat(cant) * precio).formatMoney(2,'.','');
        $.ajax({
          method: "GET",
          url: Routing.generate('updatePrecioExtra', { id_actividad: id[2], id_detalle: id[1], precio: precio }),
          dataType: "json",
        })
        .done(function(data ) {
          if (data.content == true) {
            $('#totalDetail_'+id[1]).html( total );
            $("#"+identificador).removeClass('btn-info');
            $("#"+identificador).addClass('btn-success');                        
          }else{
           
            if (confirm("Disculpe, el precio de venta ingresado es menor al precio de compra. ¿Está seguro de realizar esta acción? ") == true) {
              $.ajax({
                method: "GET",
                url: Routing.generate('updatePrecio2Extra', { id_actividad: id[2], id_detalle: id[1], precio: precio }),
                dataType: "json",
              })
              .done(function(data2 ) {
                $('#totalDetail_'+id[1]).html( total);
                $("#"+identificador).removeClass('btn-info');
                $("#"+identificador).addClass('btn-success'); 
              });
            }
          }
        });
      });

      $(document).on("click", "a[id^='deleteApu_']", function (event) {
        event.preventDefault();
        var r = confirm("¿Desea Eliminar este Item?");
        if (r == false) return false; 

        var identificador = $(this).attr("id");
        var id = identificador.split("_");                
        $.ajax({
            method: "GET",
            url: Routing.generate('delete_detalleApuExtra', { id_detalle: id[1]}),
            dataType: "json",
        })
        .done(function(data ) {
          $('#row_'+id[1]+'_'+id[2]).remove();
        });
      });
      Number.prototype.formatMoney = function(c, d, t){
        var n = this, 
        c = isNaN(c = Math.abs(c)) ? 2 : c, 
        d = d == undefined ? "." : d, 
        t = t == undefined ? "," : t, 
        s = n < 0 ? "-" : "", 
        i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
        j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
      };
    });
  </script>
{% endblock %}