<script src="{{ asset('bundles/app/libs/jquery.min.js')}}"></script>
<script src="{{ asset('bundles/app/libs/highcharts.js')}}"></script>
<script src="{{ asset('bundles/app/libs/exporting.js')}}"></script>
<script type="text/javascript">
  {{ chart(originalPie) }}
  {{ chart(anadidoPie) }}
  {{ chart(combinadoChart) }}
  {{ chart(combinadoPie)}}
</script>

<div id="originalPie" 	  style="display: inline-block; height: 400px; margin: 0 auto; min-width: 400px; width:45%;"></div>
<div id="anadidoPie"  	  style="display: inline-block; height: 400px; margin: 0 auto; min-width: 400px; width:45%;"></div>
<div id="combinadoChart"  style="display: block;		height: 400px; margin: 0 auto; min-width: 800px; width:90%; margin-top: 6em;"></div>
<div id="combinadoPie"    style="display: block;		height: 400px; margin: 0 auto; min-width: 800px; width:90%; margin-top: 6em;"></div>
