{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{asset('bundles/app/libs/boostrap-select2/select2.css')}} ">
{% endblock %}

{% block pageTitle %} Proyectos - Crear{% endblock %}

{% block sonata_page_content %}
    <section class="content-header">
    </section>

    <section class="content">
        <div class="row">
            
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border"> <h3 class="col-xs-12">Crear Proyectos</h3></div>
                        {{ form_start(form, {'attr': {'role': 'form'}}) }}
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}

                        {% include "AppBundle:Proyectos:form.html.twig" %}

                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}