<label for="appbundle_proyectos_requisitor"> Requisitor: </label>
<select id="appbundle_proyectos_requisitor" name="appbundle_proyectos[requisitor]" class="form-control" tabindex="-1" title="Requisitor: ">
	<option value="">Seleccionar Requisitor</option>
	{% for requisitor in requisitores %}
	    <option value="{{requisitor.id}}">{{requisitor.razon}}</option>
	{% endfor %}
</select>