{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Proyectos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rq</th>
                <td>{{ entity.rq }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{{ entity.fechaFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Creadopor</th>
                <td>{{ entity.creadoPor|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Oc</th>
                <td>{{ entity.oc }}</td>
            </tr>
            <tr>
                <th>Vigencia</th>
                <td>{{ entity.vigencia|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Anticipo</th>
                <td>{{ entity.anticipo }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ entity.observacion }}</td>
            </tr>
            <tr>
                <th>Rif</th>
                <td>{{ entity.rif }}</td>
            </tr>
            <tr>
                <th>Razon</th>
                <td>{{ entity.razon }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Tlf</th>
                <td>{{ entity.tlf }}</td>
            </tr>
            <tr>
                <th>Tlfc</th>
                <td>{{ entity.tlfC }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Paginaweb</th>
                <td>{{ entity.paginaWeb }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('proyectos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
