{% if accion == 'calculos' %}
	{% set manoObra = 0 %}
	{% for registro in registros if registro.tipoActividad == 1 %}
		
		{% set manoObra = manoObra + (registro.cantidad * registro.CostoUnidad * registro.dias)%}
	{% endfor %}
		<td>Bs. {{manoObra |number_format(2, ',','.')}}</td>	

	{% set maquinaria = 0 %}
	{% for registro in registros if registro.tipoActividad == 2 %}
		
		{% set maquinaria = maquinaria + (registro.cantidad * registro.CostoUnidad * registro.dias)%}
	{% endfor %}
		<td>Bs. {{maquinaria |number_format(2, ',','.')}}</td>	

	{% set materiales = 0 %}
	{% for registro in registros if registro.tipoActividad == 3 %}
		
		{% set materiales = materiales + (registro.cantidad * registro.CostoUnidad * registro.dias) %}
	{% endfor %}
		<td>Bs. {{materiales |number_format(2, ',','.')}}</td>	
		    
{% elseif accion == 'reporte' %}
	{% set materiales = 0 %}
	{% set maquinaria = 0 %}
	{% set manoObra = 0 %}
	{% set comida = 0 %}

	{% for registro in registros %}
		{% if registro.tipoActividad == 3 %}
			{% set materiales = materiales + (registro.cantidad * registro.CostoUnidad) %}
		{% endif %}

		{% if registro.tipoActividad == 2 %}
			{% set maquinaria = maquinaria + (registro.cantidad * registro.CostoUnidad * registro.dias)%}
		{% endif %}

		{% if registro.tipoActividad == 1 %}
			{% set manoObra = manoObra + (registro.cantidad * registro.CostoUnidad * registro.dias)%}
			{% set comida   = comida   +  (registro.cantidad * registro.dias) %}
		{% endif %}
	{% endfor %}

	{% set ttl_comida = (comida * proyecto.comida) %}
	{% set man_prest = (proyecto.prestaciones * manoObra / 100 ) + manoObra  %}
	{% set costodirecto = ( ttl_comida + man_prest + materiales + maquinaria) %}
	{% set subtotal2 = ((costodirecto * proyecto.gastoAdmin /100) + costodirecto ) %}
	{% set utilidad = ( subtotal2 * proyecto.utilidad /100) %}

	<td> {{materiales |number_format(2, ',','.')}}</td>
	<td> {{maquinaria |number_format(2, ',','.')}}</td>
	<td> {{manoObra |number_format(2, ',','.')}}</td>
	<td> {{(manoObra * proyecto.prestaciones / 100 ) |number_format(2, ',','.') }}</td>
	<td> {{ (comida * proyecto.comida) |number_format(2, ',','.') }}</td>
	<td> {{ (costodirecto * proyecto.gastoAdmin /100) | number_format(2,',','.')}} </td>
	<td> {{ utilidad |number_format(2, ',','.') }}</td>
	<td> {{ (utilidad + subtotal2) |number_format(2, ',','.') }}</td>
{% else %}

	{% if accion == 3 %}
		{% if registros|length > 0 %}
			{% for registro in registros if registro.tipoActividad == 3 %}
				<tr id="row_{{registro.id}}_{{registro.tipoActividad}}">
					<td> {{ loop.index }}</td>
					<td>
							{{ registro.descripcion}}
							{{ render(controller("AppBundle:ProyectoApu:preciosMaterial",{'id_material':registro.idActividad} )) }}
					</td>
					<td width="200"> 
						<div class="input-group margin col-xs-10">
              <input class="form-control numeros" type="integer" value={{registro.cantidad}} id="cantDetailApuValor_{{registro.id}}">
                <span class="input-group-btn">
                  <a class="btn btn-info btn-flat" id="cantDetailApu_{{registro.id}}">
                  	<i class="fa fa-check"></i>
                  </a>
              </span>
            </div>
					</td>
					<td width="200"> 
						<div class="input-group margin col-xs-10">
                <input class="form-control decimal" type="integer" value={{registro.CostoUnidad |number_format(2, '.','')}} id="unitario_{{registro.id}}">
                    <span class="input-group-btn">
                    <a class="btn btn-info btn-flat" id="sendUnitario_{{registro.id}}_{{registro.idActividad}}">
                    	<i class="fa fa-check"></i>
                    </a>
                </span>
            </div>
					</td>
					<td id ="totalDetail_{{registro.id}}"> {{ (registro.cantidad * registro.CostoUnidad * registro.dias) |number_format(2, '.','') }} Bs. </td>
					<input type="hidden" value="1" id="diasDetailApuValor_{{registro.id}}">
					<td>
						<a id="deleteApu_{{registro.id}}_{{registro.tipoActividad}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="6" class="text-center">
					Sin datos para mostrar
				</td>
			</tr>
		{% endif %}
	{% else %}
		{% if registros|length > 0 %}
			{% for registro in registros if registro.tipoActividad == accion %}
				<tr id="row_{{registro.id}}_{{registro.tipoActividad}}">
					<td> {{ loop.index }}</td>
					<td> {{ registro.descripcion}}</td>
					{% if accion == 1 %}
						<td width="150">
							<div id="tipoTarea_{{registro.id}}_div">
								<select id="tipoTarea_{{registro.id}}" class="form-control">
									{% if registro.tipoTarea == 0 %}
										<option value = 0 selected > Sin Especificar	</option>
										<option value = 1 > Planta		</option>
										<option value = 2 > Taller		</option>
									{% elseif registro.tipoTarea == 1 %}
										<option value = 0 > Sin Especificar	</option>
										<option value = 1 selected >Planta	</option>
										<option value = 2> Taller			</option>
									{% elseif registro.tipoTarea == 2 %}
										<option value = 0> Sin Especificar	</option>
										<option value = 1> Planta			</option>
										<option value = 2 selected >Taller	</option>									
									{% endif %}
								</select>
							</div>
						</td>
					{% endif %}
					<td width="200"> 
						<div class="input-group margin col-xs-10">
			                <input class="form-control numeros" type="integer" value={{registro.cantidad}} id="cantDetailApuValor_{{registro.id}}">
			                    <span class="input-group-btn">
			                    <a class="btn btn-info btn-flat" id="cantDetailApu_{{registro.id}}">
			                    	<i class="fa fa-check"></i>
			                    </a>
			                </span>
			            </div>
					</td>
					<td width="200"> 
						<div class="input-group margin col-xs-10">
			                <input class="form-control numeros" type="integer" value={{registro.dias}} id="diasDetailApuValor_{{registro.id}}">
			                    <span class="input-group-btn">
			                    <a class="btn btn-info btn-flat" id="diasDetailApu_{{registro.id}}">
			                    	<i class="fa fa-check"></i>
			                    </a>
			                </span>
			            </div>
					</td>
					<td id="unitario_{{registro.id}}"> {{ registro.CostoUnidad |number_format(2, '.','') }} </td>
					<td id ="totalDetail_{{registro.id}}"> {{ (registro.cantidad * registro.CostoUnidad * registro.dias ) |number_format(2, '.','') }} Bs.</td>
					<td>
						<a id="deleteApu_{{registro.id}}_{{registro.tipoActividad}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="7" class="text-center">
					
					Sin datos para mostrar
				</td>
			</tr>
		{% endif %}
	{% endif %}
{% endif %}