{% if proyectos|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> # </th>
                <th> Estatus </th>
                <th> Rq </th>
                <th> Descripción </th>
                <th> Cliente </th>
                <th> Requisitor </th>
                <th> Fecha Inicio </th>
                <th> Fecha Fin', 'pr </th>
                <th> Estatus', 'proyectos </th>
                <th> Asignado', 'pr </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ proyecto.id }}</td>
                    <td>{{ proyecto.rq }}</td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.cliente }}</td>
                    <td>{{ proyecto.requisitor }}</td>
                    <td>{{ proyecto.fechaInicio|date('Y-m-d') }}</td>
                    <td>{{ proyecto.fechaFin|date('Y-m-d ') }}</td>
                    <td>{{ proyecto.statusProyecto }}</td>
                    <td>{{ proyecto.asignado  }}</td>
                    <td>
                        <a id="proyecto_{{proyecto.id}}" ><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(proyectos) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}