{{ form_start(form, {'attr': {'role': 'form'}}) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}


    <fieldset class="well">
    <div id="opaco_div" class="overlay" >
        <i class="fa fa-refresh fa-spin"></i>
    </div>          
        <h1 class="page-header"> {{accion}} Apu </h1>
        <div class="form-group col-md-6 col-xs-6">
            {{ form_label(form.miscelaneo, 'Miscelaneo:') }}
            {{ form_errors(form.miscelaneo) }}
            <br>
            {{ form_widget(form.miscelaneo, { 'attr': {'class': 'form-control'} }) }}
        </div>
        
        <div class="form-group col-md-6 col-xs-6">
            {{ form_label(form.cantApu, 'Cantidad: (cuantas veces se realiza la actividad)') }}
            {{ form_errors(form.cantApu) }}
            {{ form_widget(form.cantApu, { 'attr': {'class': 'form-control', 'min':1} }) }}
        </div> 

        <div class="form-group col-md-12">
            {{ form_label(form.nombre, 'Nombre del Item:') }}
            {{ form_errors(form.nombre) }}
            {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
        </div> 

        <div class="form-group col-md-6" style="display:none">
            {{ form_label(form.cantMedidaApu, 'Cantidad de Medida del Miscelaneo:') }}
            {{ form_errors(form.cantMedidaApu) }}
            {{ form_widget(form.cantMedidaApu, { 'attr': {'class': 'form-control', 'value': 1} }) }}
        </div>
        <div class="form-group col-md-6" >
            {{ form_label(form.tipoapu, 'Unidad de Medida del Miscelaneo:') }}
            {{ form_errors(form.tipoapu) }}
            {{ form_widget(form.tipoapu, { 'attr': {'class': 'form-control'} }) }}
        </div> 

        <div class="form-group col-md-3">
            {{ form_label(form.status, '¿Culminado?:') }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
        </div> 

        <div class="form-group col-md-12">
            {{ form_label(form.comentario, 'Comentario:') }}
            {{ form_errors(form.comentario) }}
            {{ form_widget(form.comentario, { 'attr': {'class': 'form-control'} }) }}
        </div> 


        <div class="box-footer">
            <button type="button" data-dismiss="modal" class="btn btn-danger pull-left"> Cancelar </button>
            <button type="submit" class="btn btn-info pull-right"> Guardar </button>
        </div>
    </fieldset>

    

    <div class="form-group col-md-6" style="display:none" >
        {{ form_label(form.proyecto, 'Nombre del  proyecto') }}
        {{ form_errors(form.proyecto) }}
        {{ form_widget(form.proyecto, { 'attr': {'class': 'form-control'} }) }}
    </div>


    <div class="col-xs-12" style="height:2em;"></div>
 
 {% if accion == "Editar" %}
    
    <h2> Actividad Nº {{ item }} </h2>
    <input type="hidden" value="{{id_apu}}" id="aquiApuId" disabled="disabled">


    {% include 'AppBundle:ProyectoApu:addDetailsApu.html.twig'%}
 {% endif %}
    <div class="modal-footer">
        <hr>
    </div>

{{ form_end(form, {'render_rest': false}) }}

