{% if maquinarias|length > 0 %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th> #          </th>
                <th> Codigo     </th>
                <th> Nombre     </th>
                <th> Precio Diario </th>
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for maquinaria in maquinarias %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ 'Maq-'~ maquinaria.id }}</td>
                    <td>{{ maquinaria.nombre |length >25 ? maquinaria.nombre |slice(0, 25) ~ '...' : maquinaria.nombre  }} </td>
                    <td>{{ 'Bs. '~ maquinaria.precioDia |number_format(2, ',','.') }}</td>           
                    <td>
                        <a href="{{ path('maquinarias_edit', { 'id': maquinaria.id }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(maquinarias) }}
    </div>
{% else %}
    <h3 class="text-center"> No existen Datos para Mostrar...</h3>
{% endif %}