<div class="box-body">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </h4>
        </div>
    {% endif %}
    <div class="form-group col-md-6">
        {{ form_label(form.codigo, 'Código: ') }} <br>
        {% if entity.id!="" %}
            <label for="">Maq-{{entity.id}}</label>
        {% else %}
            <label for="">Maq-</label>
        {% endif %}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.nombre, 'Nombre de Maquinaria: ') }}
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.stock, 'Cantidad de Maquinaria: ') }}
        {{ form_errors(form.stock) }}
        {{ form_widget(form.stock, { 'attr': {'class': 'form-control decimal'} }) }}
    </div>
    
    <div class="form-group col-md-6">
        {{ form_label(form.marca, 'Marca: ') }}
        {{ form_errors(form.marca) }}
        {{ form_widget(form.marca, { 'attr': {'class': 'form-control select', 'style': 'width:100%'} }) }}
        <br> <br>
    </div>
    
    <div class="form-group col-md-6 hidden ">
        {{ form_label(form.modelo, 'Modelo: ') }}
        {{ form_errors(form.modelo) }}
        {{ form_widget(form.modelo, { 'attr': {'class': 'form-control'} }) }}
    </div>
    
    <div class="form-group col-md-6">
        {{ form_label(form.precioDia, 'Precio Diario: ') }}
        {{ form_errors(form.precioDia) }}
        {{ form_widget(form.precioDia, { 'attr': {'class': 'form-control decimal'} }) }}
    </div>
    
    <div class="form-group col-md-6" style="display:none;">
        {{ form_label(form.proyectoAcual, 'Proyecto Acual') }}
        {{ form_errors(form.proyectoAcual) }}
        {{ form_widget(form.proyectoAcual, { 'attr': {'class': 'form-control'} }) }}
    </div>
    
    <div class="form-group col-md-6">
        {{ form_label(form.disponibilidad, '¿Se usa en proyectos?') }} <br>
        {{ form_errors(form.disponibilidad) }}
        {{ form_widget(form.disponibilidad, { 'attr': {'class': 'form-control'} }) }}
        <br><br>
    </div>
</div>
<div class="box-footer">
    <a href="{{ path('maquinarias') }}" class="btn btn-default">Volver a la lista</a>
    <a href="{{ path('maquinarias_new') }}" class="btn btn-success">Crear Nuevo</a>
    <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>   


<script>
     $(document).ready(function(){

        $(".dateTimePicker").datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es'
        });

        $(".decimal").keydown(function(e){
            var keynum           
            var keychar           
            var numcheck          
            

            if(window.event){
            /*/ IE*/            
                keynum = e.keyCode         
            }          
            else if(e.which){ 
            /*/ Netscape/Firefox/Opera/*/          
                keynum = e.which         
            }            
            
            if((keynum>=35 && keynum<=37) ||keynum==8||keynum==9||keynum==46||keynum==39) {
                     return true;         
            }          
            
            if(keynum==190||keynum==110||(keynum>=95&&keynum<=105)||(keynum>=48&&keynum<=57)){
                posicion = this.value.indexOf('.');               
                
                if(posicion==-1) {              
                    return true;           
                }else { 
                    if(!(keynum==190||keynum==110)){
                        var posicion = this.value.indexOf('.');
                        var decimal = 3;

                        if(this.value.length - posicion < decimal){
                            this.value = this.value.substr(0,this.value.length);  
                        }else {
                            this.value = this.value.substr(0,posicion+decimal-1);  
                        }

                        return true;
                    }else{
                        return false;
                    }
                }
            }else {
                return false;
            } 
        });   
    });
</script>