{% extends '::SonataAdminBundle/views/extends_standard_layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{asset('bundles/app/libs/boostrap-select2/select2.css')}} ">
{% endblock %}

{% block pageTitle %} Maquinarias - Crear{% endblock %}

{% block sonata_page_content %}
    <section class="content-header">
    </section>

    <section class="content">
        <div class="row">
            
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border"> <h3 class="col-xs-12">Crear Maquinaria</h3></div>
                        {{ form_start(form, {'attr': {'role': 'form'}}) }}
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}

                        {% include "AppBundle:Maquinarias:form.html.twig" %}
                        
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/app/libs/boostrap-select2/select2.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.select_marcas').select2();
    });
    </script>
{% endblock %}

